Repository microsoft/Agents-M365Copilot: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml, .azure-pipelines/cd-build-deploy-python-beta.yml, .azure-pipelines/cd-build-deploy-python-v1.yml, .azure-pipelines/cd-build-deploy-python.yml, .azure-pipelines/cd-build-deploy-typescript-core.yml, .azure-pipelines/cd-build-deploy-typescript-v1.yml, .azure-pipelines/cd-build-deploy-typescript.yml

Path conditions:
  .azure-pipelines/cd-build-deploy-dotnet-beta.yml: any of: dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated, dotnet/src/Microsoft.Agents.M365Copilot.Beta/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Beta/Microsoft.Agents.M365Copilot.Beta.csproj
  .azure-pipelines/cd-build-deploy-dotnet.yml: any of: dotnet/src/Microsoft.Agents.M365Copilot.Core/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Core/Microsoft.Agents.M365Copilot.Core.csproj, dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated, dotnet/src/Microsoft.Agents.M365Copilot.Beta/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Beta/Microsoft.Agents.M365Copilot.Beta.csproj
  .azure-pipelines/cd-build-deploy-python-beta.yml: any of: python/packages/microsoft_agents_m365copilot_beta/generated, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_request_adapter.py, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_service_client.py
  .azure-pipelines/cd-build-deploy-python-v1.yml: any of: python/packages/microsoft_agents_m365copilot/generated, python/packages/microsoft_agents_m365copilot/src/agents_m365_copilot_request_adapter.py, python/packages/microsoft_agents_m365copilot/src/agents_m365_copilot_service_client.py
  .azure-pipelines/cd-build-deploy-python.yml: any of: python/packages/microsoft_agents_m365copilot_beta/generated, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_request_adapter.py, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_service_client.py, python/packages/microsoft_agents_m365copilot_core/src
  .azure-pipelines/cd-build-deploy-typescript-core.yml: any of: typescript/packages/agents-m365copilot-core/src
  .azure-pipelines/cd-build-deploy-typescript-v1.yml: any of: typescript/packages/agents-m365copilot/generated
  .azure-pipelines/cd-build-deploy-typescript.yml: any of: typescript/packages/agents-m365copilot-beta/generated, typescript/packages/agents-m365copilot-core/src

feat(generation): update request builders and models for python v1
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/admin/catalog/catalog_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/admin/catalog/packages/count/count_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/admin/catalog/packages/item/copilot_package_detail_item_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/admin/catalog/packages/item/zip_file/zip_file_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/admin/catalog/packages/packages_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/kiota-dom-export.txt
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/access_entity_type.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/copilot_admin_catalog.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/copilot_package.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/copilot_package_detail.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/copilot_package_detail_collection_response.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/entity.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/package_access_entity.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/package_element.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/package_element_detail.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/package_status.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/package_type.py
Due: none

feat(generation): update request builders and models for typescript beta
  typescript/packages/agents-m365copilot-beta/generated/copilot/retrieval/index.ts
  typescript/packages/agents-m365copilot-beta/generated/kiota-dom-export.txt
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
  typescript/packages/agents-m365copilot-beta/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript.yml

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Retrieval/RetrievalPostRequestBody.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotPackage.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotPackageDetail.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CustomEmojiFromIdentitySet.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/IdentitySet.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-dom-export.txt
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/retrieval/retrieval_post_request_body.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-dom-export.txt
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/copilot_package.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/copilot_package_detail.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/custom_emoji_from_identity_set.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/identity_set.py
Due: none

feat(generation): update request builders and models for dotnet v1
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Admin/Catalog/CatalogRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Admin/Catalog/Packages/Count/CountRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Admin/Catalog/Packages/Item/CopilotPackageDetailItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Admin/Catalog/Packages/Item/ZipFile/ZipFileRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Admin/Catalog/Packages/PackagesRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/AccessEntityType.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/CopilotAdminCatalog.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/CopilotPackage.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/CopilotPackageDetail.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/CopilotPackageDetailCollectionResponse.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/PackageAccessEntity.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/PackageElement.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/PackageElementDetail.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/PackageStatus.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/PackageType.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/kiota-dom-export.txt
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/kiota-lock.json
Due: none

feat(generation): update request builders and models for typescript v1
  typescript/packages/agents-m365copilot/generated/copilot/admin/catalog/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/admin/catalog/packages/count/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/admin/catalog/packages/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/admin/catalog/packages/item/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/admin/catalog/packages/item/zipFile/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/retrieval/index.ts
  typescript/packages/agents-m365copilot/generated/kiota-dom-export.txt
  typescript/packages/agents-m365copilot/generated/kiota-lock.json
  typescript/packages/agents-m365copilot/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript-v1.yml

Fix TS CI: include v1 package in lerna build/test scope
  typescript/package.json
Due: none

Fix TS CI: include v1 package in lerna build/test scope (#450)
  typescript/package.json
Due: none

chore(typescript): land 225829 v1+beta regen with kiota preview.103
  typescript/package-lock.json
  typescript/packages/agents-m365copilot-beta/generated/copilot/retrieval/index.ts
  typescript/packages/agents-m365copilot-beta/generated/kiota-dom-export.txt
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
  typescript/packages/agents-m365copilot-beta/generated/models/index.ts
  typescript/packages/agents-m365copilot-core/package.json
  typescript/packages/agents-m365copilot/generated/copilot/admin/catalog/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/admin/catalog/packages/count/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/admin/catalog/packages/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/admin/catalog/packages/item/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/admin/catalog/packages/item/zipFile/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/retrieval/index.ts
  typescript/packages/agents-m365copilot/generated/kiota-dom-export.txt
  typescript/packages/agents-m365copilot/generated/kiota-lock.json
  typescript/packages/agents-m365copilot/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript-v1.yml, .azure-pipelines/cd-build-deploy-typescript.yml

chore(typescript): land 225829 v1+beta regen with kiota preview.103 (#453)
  typescript/package-lock.json
  typescript/packages/agents-m365copilot-beta/generated/copilot/retrieval/index.ts
  typescript/packages/agents-m365copilot-beta/generated/kiota-dom-export.txt
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
  typescript/packages/agents-m365copilot-beta/generated/models/index.ts
  typescript/packages/agents-m365copilot-core/package.json
  typescript/packages/agents-m365copilot/generated/copilot/admin/catalog/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/admin/catalog/packages/count/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/admin/catalog/packages/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/admin/catalog/packages/item/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/admin/catalog/packages/item/zipFile/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/retrieval/index.ts
  typescript/packages/agents-m365copilot/generated/kiota-dom-export.txt
  typescript/packages/agents-m365copilot/generated/kiota-lock.json
  typescript/packages/agents-m365copilot/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript-v1.yml, .azure-pipelines/cd-build-deploy-typescript.yml

chore(deps): consolidate dependabot updates
  .github/workflows/build-and-test-dotnet-core.yml
  .github/workflows/build-and-test-python-beta.yml
  .github/workflows/build-and-test-python-core.yml
  .github/workflows/build-and-test-python-v1.yml
  .github/workflows/build-and-test.yml
  .github/workflows/release-please-gha.yml
  python/packages/microsoft_agents_m365copilot_core/requirements-dev.txt
  python/requirements_dev.txt
  typescript/package-lock.json
  typescript/package.json
  typescript/packages/agents-m365copilot-beta/package.json
  typescript/packages/agents-m365copilot-core/package.json
  typescript/packages/agents-m365copilot/package.json
Due: none

fix(deps): keep vitest on v3, exclude vitest 4 major bump
  typescript/package-lock.json
  typescript/package.json
  typescript/packages/agents-m365copilot-core/package.json
Due: none

chore(deps): exclude development-dependencies group (#443) entirely
  typescript/package-lock.json
  typescript/package.json
  typescript/packages/agents-m365copilot-core/package.json
Due: none

chore(deps): consolidate open dependabot dependency updates (#454)
  .github/workflows/build-and-test-dotnet-core.yml
  .github/workflows/build-and-test-python-beta.yml
  .github/workflows/build-and-test-python-core.yml
  .github/workflows/build-and-test-python-v1.yml
  .github/workflows/build-and-test.yml
  .github/workflows/release-please-gha.yml
  python/packages/microsoft_agents_m365copilot_core/requirements-dev.txt
  python/requirements_dev.txt
  typescript/package-lock.json
  typescript/packages/agents-m365copilot-beta/package.json
  typescript/packages/agents-m365copilot/package.json
Due: none

feat(generation): update request builders and models for typescript v1
  typescript/packages/agents-m365copilot/generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-typescript-v1.yml

feat(generation): update request builders and models for dotnet v1
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/kiota-lock.json
Due: none

feat(generation): update request builders and models for python v1
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/kiota-lock.json
Due: none

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

feat(generation): update request builders and models for typescript beta
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-typescript.yml

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
Due: none

Update owners and approvers in YAML pipeline
  .azure-pipelines/cd-build-deploy-typescript-v1.yml
Due: none

Update owners and approvers in deployment YAML
  .azure-pipelines/cd-build-deploy-python-beta.yml
  .azure-pipelines/cd-build-deploy-python-core.yml
  .azure-pipelines/cd-build-deploy-python-v1.yml
  .azure-pipelines/cd-build-deploy-typescript-beta.yml
  .azure-pipelines/cd-build-deploy-typescript-core.yml
  .azure-pipelines/cd-build-deploy-typescript-v1.yml
Due: none

Update owners and approvers in deployment YAML (#461)
  .azure-pipelines/cd-build-deploy-python-beta.yml
  .azure-pipelines/cd-build-deploy-python-core.yml
  .azure-pipelines/cd-build-deploy-python-v1.yml
  .azure-pipelines/cd-build-deploy-typescript-beta.yml
  .azure-pipelines/cd-build-deploy-typescript-core.yml
  .azure-pipelines/cd-build-deploy-typescript-v1.yml
Due: none

Route package restore through the CFS central package feed
  .azure-pipelines/cd-build-deploy-dotnet-beta.yml
  .azure-pipelines/cd-build-deploy-dotnet-core.yml
  .azure-pipelines/cd-build-deploy-dotnet-v1.yml
  .azure-pipelines/cd-build-deploy-python-beta.yml
  .azure-pipelines/cd-build-deploy-python-v1.yml
  .azure-pipelines/cd-build-deploy-typescript-beta.yml
  .azure-pipelines/cd-build-deploy-typescript-v1.yml
Due: none

ci: Route package restore through the CFS central package feed (#470)
  .azure-pipelines/cd-build-deploy-dotnet-beta.yml
  .azure-pipelines/cd-build-deploy-dotnet-core.yml
  .azure-pipelines/cd-build-deploy-dotnet-v1.yml
  .azure-pipelines/cd-build-deploy-python-beta.yml
  .azure-pipelines/cd-build-deploy-python-v1.yml
  .azure-pipelines/cd-build-deploy-typescript-beta.yml
  .azure-pipelines/cd-build-deploy-typescript-v1.yml
Due: none

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Reports/GetMicrosoft365CopilotUsageUserDetailWithPeriodWithVersion/GetMicrosoft365CopilotUsageUserDetailWithPeriodWithVersionRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Reports/GetMicrosoft365CopilotUserCountSummaryWithPeriodWithVersion/GetMicrosoft365CopilotUserCountSummaryWithPeriodWithVersionRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Reports/GetMicrosoft365CopilotUserCountTrendWithPeriodWithVersion/GetMicrosoft365CopilotUserCountTrendWithPeriodWithVersionRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Reports/ReportsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-dom-export.txt
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/reports/get_microsoft365_copilot_usage_user_detail_with_period_with_version/get_microsoft365_copilot_usage_user_detail_with_period_with_version_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/reports/get_microsoft365_copilot_user_count_summary_with_period_with_version/get_microsoft365_copilot_user_count_summary_with_period_with_version_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/reports/get_microsoft365_copilot_user_count_trend_with_period_with_version/get_microsoft365_copilot_user_count_trend_with_period_with_version_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/reports/reports_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-dom-export.txt
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
Due: none

feat(generation): update request builders and models for typescript beta
  typescript/packages/agents-m365copilot-beta/generated/copilot/reports/getMicrosoft365CopilotUsageUserDetailWithPeriodWithVersion/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/reports/getMicrosoft365CopilotUserCountSummaryWithPeriodWithVersion/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/reports/getMicrosoft365CopilotUserCountTrendWithPeriodWithVersion/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/reports/index.ts
  typescript/packages/agents-m365copilot-beta/generated/kiota-dom-export.txt
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-typescript.yml

feat(generation): update request builders and models for typescript beta
  typescript/packages/agents-m365copilot-beta/generated/copilot/reports/getMicrosoft365CopilotUsageUserDetailWithPeriodversionVersion/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/reports/getMicrosoft365CopilotUserCountSummaryWithPeriodversionVersion/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/reports/getMicrosoft365CopilotUserCountTrendWithPeriodversionVersion/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/reports/index.ts
  typescript/packages/agents-m365copilot-beta/generated/kiota-dom-export.txt
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
  typescript/packages/agents-m365copilot-beta/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript.yml

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/reports/get_microsoft365_copilot_usage_user_detail_with_periodversion_version/get_microsoft365_copilot_usage_user_detail_with_periodversion_version_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/reports/get_microsoft365_copilot_user_count_summary_with_periodversion_version/get_microsoft365_copilot_user_count_summary_with_periodversion_version_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/reports/get_microsoft365_copilot_user_count_trend_with_periodversion_version/get_microsoft365_copilot_user_count_trend_with_periodversion_version_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/reports/reports_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-dom-export.txt
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/ai_interaction.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/chat_message_body.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/chat_message_body_content_type.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/retrieval_data_source.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/share_point_embedded_configuration.py
Due: none

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Reports/GetMicrosoft365CopilotUsageUserDetailWithPeriodWithVersion/GetMicrosoft365CopilotUsageUserDetailWithPeriodWithVersionRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Reports/GetMicrosoft365CopilotUsageUserDetailWithPeriodversionVersion/GetMicrosoft365CopilotUsageUserDetailWithPeriodversionVersionRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Reports/GetMicrosoft365CopilotUserCountSummaryWithPeriodWithVersion/GetMicrosoft365CopilotUserCountSummaryWithPeriodWithVersionRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Reports/GetMicrosoft365CopilotUserCountSummaryWithPeriodversionVersion/GetMicrosoft365CopilotUserCountSummaryWithPeriodversionVersionRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Reports/GetMicrosoft365CopilotUserCountTrendWithPeriodWithVersion/GetMicrosoft365CopilotUserCountTrendWithPeriodWithVersionRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Reports/GetMicrosoft365CopilotUserCountTrendWithPeriodversionVersion/GetMicrosoft365CopilotUserCountTrendWithPeriodversionVersionRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Reports/ReportsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/AiInteraction.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/ChatMessageBody.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/ChatMessageBodyContentType.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/SharePointEmbeddedConfiguration.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-dom-export.txt
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml
