Repository microsoft/Agents-M365Copilot: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml, .azure-pipelines/cd-build-deploy-python-beta.yml, .azure-pipelines/cd-build-deploy-python-v1.yml, .azure-pipelines/cd-build-deploy-python.yml, .azure-pipelines/cd-build-deploy-typescript-core.yml, .azure-pipelines/cd-build-deploy-typescript-v1.yml, .azure-pipelines/cd-build-deploy-typescript.yml

.azure-pipelines/cd-build-deploy-dotnet-beta.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: windows-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-dotnet.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: windows-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-python-beta.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: ubuntu-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-python-v1.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: ubuntu-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-python.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: ubuntu-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-typescript-core.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: windows-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-typescript-v1.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: windows-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-typescript.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: windows-latest
      stages:
      - stage: build
  ...

chore(deps): remove redundant dir refs provided by core (#386)
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Microsoft.Agents.M365Copilot.Beta.csproj
  dotnet/src/Microsoft.Agents.M365Copilot/Microsoft.Agents.M365Copilot.csproj
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

chore(deps): update action deps (#387)
  .github/workflows/build-and-test-dotnet-core.yml
  .github/workflows/build-and-test-python-beta.yml
  .github/workflows/build-and-test-python-core.yml
  .github/workflows/build-and-test-python-v1.yml
  .github/workflows/build-and-test.yml
  .github/workflows/release-please-gha.yml
Due: none

build: add workflow_dispatch event for rp
  .github/workflows/release-please-gha.yml
Due: none

build: add workflow_dispatch event for rp (#388)
  .github/workflows/release-please-gha.yml
Due: none

build: update version
  dotnet/src/Microsoft.Agents.M365Copilot.Core/Microsoft.Agents.M365Copilot.Core.csproj
Due: .azure-pipelines/cd-build-deploy-dotnet.yml

build: update version (#389)
  dotnet/src/Microsoft.Agents.M365Copilot.Core/Microsoft.Agents.M365Copilot.Core.csproj
Due: .azure-pipelines/cd-build-deploy-dotnet.yml

Add TypeScript sample: Copilot Interaction Export API compliance dashboard
  typescript/samples/interaction-export-copilot-compliance/.env.example
  typescript/samples/interaction-export-copilot-compliance/.gitignore
  typescript/samples/interaction-export-copilot-compliance/README.md
  typescript/samples/interaction-export-copilot-compliance/client/index.html
  typescript/samples/interaction-export-copilot-compliance/client/package-lock.json
  typescript/samples/interaction-export-copilot-compliance/client/package.json
  typescript/samples/interaction-export-copilot-compliance/client/postcss.config.js
  typescript/samples/interaction-export-copilot-compliance/client/src/App.tsx
  typescript/samples/interaction-export-copilot-compliance/client/src/components/AppUsageChart.tsx
  typescript/samples/interaction-export-copilot-compliance/client/src/components/Dashboard.tsx
  typescript/samples/interaction-export-copilot-compliance/client/src/components/DateRangePicker.tsx
  typescript/samples/interaction-export-copilot-compliance/client/src/components/ExportPanel.tsx
  typescript/samples/interaction-export-copilot-compliance/client/src/components/InteractionsTable.tsx
  typescript/samples/interaction-export-copilot-compliance/client/src/components/Navbar.tsx
  typescript/samples/interaction-export-copilot-compliance/client/src/components/SessionView.tsx
  typescript/samples/interaction-export-copilot-compliance/client/src/components/StatsCards.tsx
  typescript/samples/interaction-export-copilot-compliance/client/src/hooks/useApi.ts
  typescript/samples/interaction-export-copilot-compliance/client/src/index.css
  typescript/samples/interaction-export-copilot-compliance/client/src/main.tsx
  typescript/samples/interaction-export-copilot-compliance/client/src/types.ts
  typescript/samples/interaction-export-copilot-compliance/client/tailwind.config.js
  typescript/samples/interaction-export-copilot-compliance/client/tsconfig.json
  typescript/samples/interaction-export-copilot-compliance/client/vite.config.ts
  typescript/samples/interaction-export-copilot-compliance/package-lock.json
  typescript/samples/interaction-export-copilot-compliance/package.json
  typescript/samples/interaction-export-copilot-compliance/src/auth.ts
  typescript/samples/interaction-export-copilot-compliance/src/database.ts
  typescript/samples/interaction-export-copilot-compliance/src/graph-export.ts
  typescript/samples/interaction-export-copilot-compliance/src/logger.ts
  typescript/samples/interaction-export-copilot-compliance/src/run-export.ts
  typescript/samples/interaction-export-copilot-compliance/src/scheduler.ts
  typescript/samples/interaction-export-copilot-compliance/src/server.ts
  typescript/samples/interaction-export-copilot-compliance/src/types.ts
  typescript/samples/interaction-export-copilot-compliance/tsconfig.json
Due: none

feat(generation): update request builders and models for dotnet v1
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/kiota-lock.json
Due: none

feat(generation): update request builders and models for typescript v1
  typescript/packages/agents-m365copilot/generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-typescript-v1.yml

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

feat(generation): update request builders and models for typescript beta
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-typescript.yml

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
Due: none

feat(generation): update request builders and models for python v1
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/kiota-lock.json
Due: none

feat(generation): update request builders and models for python v1
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/admin/admin_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/admin/settings/limited_mode/limited_mode_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/admin/settings/settings_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/interaction_history/interaction_history_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/reports/reports_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/users/item/ai_user_item_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/users/item/interaction_history/interaction_history_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/users/item/online_meetings/item/ai_insights/ai_insights_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/users/item/online_meetings/item/ai_insights/item/call_ai_insight_item_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/users/item/online_meetings/item/ai_online_meeting_item_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/users/item/online_meetings/online_meetings_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/users/users_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/kiota-lock.json
Due: none

feat(generation): update request builders and models for dotnet v1
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Admin/AdminRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Admin/Settings/LimitedMode/LimitedModeRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Admin/Settings/SettingsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/InteractionHistory/InteractionHistoryRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Reports/ReportsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Users/Item/AiUserItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Users/Item/InteractionHistory/InteractionHistoryRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Users/Item/OnlineMeetings/Item/AiInsights/AiInsightsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Users/Item/OnlineMeetings/Item/AiInsights/Item/CallAiInsightItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Users/Item/OnlineMeetings/Item/AiOnlineMeetingItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Users/Item/OnlineMeetings/OnlineMeetingsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Users/UsersRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/kiota-lock.json
Due: none

feat(generation): update request builders and models for typescript v1
  typescript/packages/agents-m365copilot/generated/copilot/admin/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/admin/settings/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/admin/settings/limitedMode/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/interactionHistory/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/reports/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/users/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/users/item/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/users/item/interactionHistory/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/users/item/onlineMeetings/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/users/item/onlineMeetings/item/aiInsights/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/users/item/onlineMeetings/item/aiInsights/item/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/users/item/onlineMeetings/item/index.ts
  typescript/packages/agents-m365copilot/generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-typescript-v1.yml

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Admin/AdminRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Admin/Catalog/CatalogRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Admin/Catalog/Packages/Item/CopilotPackageDetailItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Admin/Catalog/Packages/PackagesRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Admin/PolicySettings/Item/CopilotPolicySettingItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Admin/PolicySettings/PolicySettingsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Admin/Settings/LimitedMode/LimitedModeRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Admin/Settings/SettingsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/AgentRegistrations/AgentRegistrationsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/AgentRegistrations/Item/AgentRegistrationItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Communications/CommunicationsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Communications/RealtimeActivityFeed/Meetings/Item/RealtimeActivityMeetingItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Communications/RealtimeActivityFeed/Meetings/Item/Transcripts/Item/RealTimeTranscriptItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Communications/RealtimeActivityFeed/Meetings/Item/Transcripts/TranscriptsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Communications/RealtimeActivityFeed/Meetings/MeetingsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Communications/RealtimeActivityFeed/MultiActivitySubscriptions/Item/MultiActivitySubscriptionItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Communications/RealtimeActivityFeed/MultiActivitySubscriptions/MultiActivitySubscriptionsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Communications/RealtimeActivityFeed/RealtimeActivityFeedRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Conversations/ConversationsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Conversations/Item/CopilotConversationItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Conversations/Item/Messages/Item/CopilotConversationMessageItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Conversations/Item/Messages/MessagesRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/InteractionHistory/InteractionHistoryRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Reports/ReportsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Retrieval/RetrievalPostRequestBody.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Settings/People/EnhancedPersonalization/EnhancedPersonalizationRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Settings/People/PeopleRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Settings/SettingsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Users/Item/AiUserItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Users/Item/InteractionHistory/InteractionHistoryRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Users/Item/OnlineMeetings/Item/AiInsights/AiInsightsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Users/Item/OnlineMeetings/Item/AiInsights/Item/CallAiInsightItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Users/Item/OnlineMeetings/Item/AiOnlineMeetingItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Users/Item/OnlineMeetings/OnlineMeetingsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Users/UsersRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

feat(generation): update request builders and models for typescript beta
  typescript/packages/agents-m365copilot-beta/generated/copilot/admin/catalog/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/admin/catalog/packages/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/admin/catalog/packages/item/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/admin/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/admin/policySettings/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/admin/policySettings/item/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/admin/settings/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/admin/settings/limitedMode/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/agentRegistrations/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/agentRegistrations/item/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/communications/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/communications/realtimeActivityFeed/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/communications/realtimeActivityFeed/meetings/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/communications/realtimeActivityFeed/meetings/item/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/communications/realtimeActivityFeed/meetings/item/transcripts/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/communications/realtimeActivityFeed/meetings/item/transcripts/item/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/communications/realtimeActivityFeed/multiActivitySubscriptions/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/communications/realtimeActivityFeed/multiActivitySubscriptions/item/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/conversations/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/conversations/item/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/conversations/item/messages/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/conversations/item/messages/item/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/interactionHistory/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/reports/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/retrieval/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/settings/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/settings/people/enhancedPersonalization/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/settings/people/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/users/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/users/item/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/users/item/interactionHistory/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/users/item/onlineMeetings/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/users/item/onlineMeetings/item/aiInsights/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/users/item/onlineMeetings/item/aiInsights/item/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/users/item/onlineMeetings/item/index.ts
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-typescript.yml

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/admin/admin_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/admin/catalog/catalog_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/admin/catalog/packages/item/copilot_package_detail_item_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/admin/catalog/packages/packages_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/admin/policy_settings/item/copilot_policy_setting_item_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/admin/policy_settings/policy_settings_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/admin/settings/limited_mode/limited_mode_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/admin/settings/settings_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/agent_registrations/agent_registrations_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/agent_registrations/item/agent_registration_item_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/communications/communications_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/communications/realtime_activity_feed/meetings/item/realtime_activity_meeting_item_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/communications/realtime_activity_feed/meetings/item/transcripts/item/real_time_transcript_item_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/communications/realtime_activity_feed/meetings/item/transcripts/transcripts_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/communications/realtime_activity_feed/meetings/meetings_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/communications/realtime_activity_feed/multi_activity_subscriptions/item/multi_activity_subscription_item_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/communications/realtime_activity_feed/multi_activity_subscriptions/multi_activity_subscriptions_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/communications/realtime_activity_feed/realtime_activity_feed_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/conversations/conversations_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/conversations/item/copilot_conversation_item_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/conversations/item/messages/item/copilot_conversation_message_item_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/conversations/item/messages/messages_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/interaction_history/interaction_history_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/reports/reports_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/retrieval/retrieval_post_request_body.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/settings/people/enhanced_personalization/enhanced_personalization_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/settings/people/people_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/settings/settings_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/users/item/ai_user_item_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/users/item/interaction_history/interaction_history_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/users/item/online_meetings/item/ai_insights/ai_insights_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/users/item/online_meetings/item/ai_insights/item/call_ai_insight_item_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/users/item/online_meetings/item/ai_online_meeting_item_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/users/item/online_meetings/online_meetings_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/users/users_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
Due: none

feat(generation): update request builders and models for typescript beta
  typescript/packages/agents-m365copilot-beta/generated/copilot/retrieval/index.ts
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-typescript.yml

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/retrieval/retrieval_post_request_body.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
Due: none

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Retrieval/RetrievalPostRequestBody.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

feat: add Entra auth, role-based access, auto-sync, user search, CSV download
  typescript/samples/interaction-export-copilot-compliance/.env.example
  typescript/samples/interaction-export-copilot-compliance/.gitignore
  typescript/samples/interaction-export-copilot-compliance/README.md
  typescript/samples/interaction-export-copilot-compliance/client/package-lock.json
  typescript/samples/interaction-export-copilot-compliance/client/package.json
  typescript/samples/interaction-export-copilot-compliance/client/src/App.tsx
  typescript/samples/interaction-export-copilot-compliance/client/src/auth/AuthProvider.tsx
  typescript/samples/interaction-export-copilot-compliance/client/src/auth/msalConfig.ts
  typescript/samples/interaction-export-copilot-compliance/client/src/components/Dashboard.tsx
  typescript/samples/interaction-export-copilot-compliance/client/src/components/ExportPanel.tsx
  typescript/samples/interaction-export-copilot-compliance/client/src/components/InteractionsTable.tsx
  typescript/samples/interaction-export-copilot-compliance/client/src/components/Navbar.tsx
  typescript/samples/interaction-export-copilot-compliance/client/src/components/SessionView.tsx
  typescript/samples/interaction-export-copilot-compliance/client/src/hooks/useApi.ts
  typescript/samples/interaction-export-copilot-compliance/client/src/main.tsx
  typescript/samples/interaction-export-copilot-compliance/client/src/types.ts
  typescript/samples/interaction-export-copilot-compliance/package-lock.json
  typescript/samples/interaction-export-copilot-compliance/package.json
  typescript/samples/interaction-export-copilot-compliance/src/auth-middleware.ts
  typescript/samples/interaction-export-copilot-compliance/src/database.ts
  typescript/samples/interaction-export-copilot-compliance/src/graph-export.ts
  typescript/samples/interaction-export-copilot-compliance/src/server.ts
  typescript/samples/interaction-export-copilot-compliance/src/types.ts
Due: none

feat(generation): update request builders and models for python v1
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/admin/catalog/catalog_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/admin/catalog/packages/count/count_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/admin/catalog/packages/item/copilot_package_detail_item_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/admin/catalog/packages/item/zip_file/zip_file_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/admin/catalog/packages/packages_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/kiota-dom-export.txt
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/access_entity_type.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/copilot_admin_catalog.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/copilot_package.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/copilot_package_detail.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/copilot_package_detail_collection_response.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/entity.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/package_access_entity.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/package_element.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/package_element_detail.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/package_status.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/package_type.py
Due: none

feat(generation): update request builders and models for dotnet v1
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Admin/Catalog/CatalogRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Admin/Catalog/Packages/Count/CountRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Admin/Catalog/Packages/Item/CopilotPackageDetailItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Admin/Catalog/Packages/Item/ZipFile/ZipFileRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Admin/Catalog/Packages/PackagesRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/AccessEntityType.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/CopilotAdminCatalog.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/CopilotPackage.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/CopilotPackageDetail.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/CopilotPackageDetailCollectionResponse.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/PackageAccessEntity.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/PackageElement.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/PackageElementDetail.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/PackageStatus.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/PackageType.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/kiota-dom-export.txt
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/kiota-lock.json
Due: none

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/retrieval/retrieval_post_request_body.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-dom-export.txt
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/copilot_package.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/copilot_package_detail.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/custom_emoji_from_identity_set.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/identity_set.py
Due: none

feat(generation): update request builders and models for typescript beta
  typescript/packages/agents-m365copilot-beta/generated/copilot/retrieval/index.ts
  typescript/packages/agents-m365copilot-beta/generated/kiota-dom-export.txt
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
  typescript/packages/agents-m365copilot-beta/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript.yml

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Retrieval/RetrievalPostRequestBody.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotPackage.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotPackageDetail.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CustomEmojiFromIdentitySet.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/IdentitySet.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-dom-export.txt
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

feat(generation): update request builders and models for typescript v1
  typescript/packages/agents-m365copilot/generated/copilot/admin/catalog/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/admin/catalog/packages/count/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/admin/catalog/packages/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/admin/catalog/packages/item/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/admin/catalog/packages/item/zipFile/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/retrieval/index.ts
  typescript/packages/agents-m365copilot/generated/kiota-dom-export.txt
  typescript/packages/agents-m365copilot/generated/kiota-lock.json
  typescript/packages/agents-m365copilot/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript-v1.yml

Path conditions:
  .azure-pipelines/cd-build-deploy-dotnet-beta.yml: any of: dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated, dotnet/src/Microsoft.Agents.M365Copilot.Beta/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Beta/Microsoft.Agents.M365Copilot.Beta.csproj
  .azure-pipelines/cd-build-deploy-dotnet.yml: any of: dotnet/src/Microsoft.Agents.M365Copilot.Core/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Core/Microsoft.Agents.M365Copilot.Core.csproj, dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated, dotnet/src/Microsoft.Agents.M365Copilot.Beta/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Beta/Microsoft.Agents.M365Copilot.Beta.csproj
  .azure-pipelines/cd-build-deploy-python-beta.yml: any of: python/packages/microsoft_agents_m365copilot_beta/generated, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_request_adapter.py, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_service_client.py
  .azure-pipelines/cd-build-deploy-python-v1.yml: any of: python/packages/microsoft_agents_m365copilot/generated, python/packages/microsoft_agents_m365copilot/src/agents_m365_copilot_request_adapter.py, python/packages/microsoft_agents_m365copilot/src/agents_m365_copilot_service_client.py
  .azure-pipelines/cd-build-deploy-python.yml: any of: python/packages/microsoft_agents_m365copilot_beta/generated, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_request_adapter.py, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_service_client.py, python/packages/microsoft_agents_m365copilot_core/src
  .azure-pipelines/cd-build-deploy-typescript-core.yml: any of: typescript/packages/agents-m365copilot-core/src
  .azure-pipelines/cd-build-deploy-typescript-v1.yml: any of: typescript/packages/agents-m365copilot/generated
  .azure-pipelines/cd-build-deploy-typescript.yml: any of: typescript/packages/agents-m365copilot-beta/generated, typescript/packages/agents-m365copilot-core/src
