Repository microsoft/Agents-M365Copilot: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml, .azure-pipelines/cd-build-deploy-python-beta.yml, .azure-pipelines/cd-build-deploy-python-v1.yml, .azure-pipelines/cd-build-deploy-python.yml, .azure-pipelines/cd-build-deploy-typescript-core.yml, .azure-pipelines/cd-build-deploy-typescript-v1.yml, .azure-pipelines/cd-build-deploy-typescript.yml

Path conditions:
  .azure-pipelines/cd-build-deploy-dotnet-beta.yml: any of: dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated, dotnet/src/Microsoft.Agents.M365Copilot.Beta/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Beta/Microsoft.Agents.M365Copilot.Beta.csproj
  .azure-pipelines/cd-build-deploy-dotnet.yml: any of: dotnet/src/Microsoft.Agents.M365Copilot.Core/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Core/Microsoft.Agents.M365Copilot.Core.csproj, dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated, dotnet/src/Microsoft.Agents.M365Copilot.Beta/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Beta/Microsoft.Agents.M365Copilot.Beta.csproj
  .azure-pipelines/cd-build-deploy-python-beta.yml: any of: python/packages/microsoft_agents_m365copilot_beta/generated, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_request_adapter.py, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_service_client.py
  .azure-pipelines/cd-build-deploy-python-v1.yml: any of: python/packages/microsoft_agents_m365copilot/generated, python/packages/microsoft_agents_m365copilot/src/agents_m365_copilot_request_adapter.py, python/packages/microsoft_agents_m365copilot/src/agents_m365_copilot_service_client.py
  .azure-pipelines/cd-build-deploy-python.yml: any of: python/packages/microsoft_agents_m365copilot_beta/generated, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_request_adapter.py, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_service_client.py, python/packages/microsoft_agents_m365copilot_core/src
  .azure-pipelines/cd-build-deploy-typescript-core.yml: any of: typescript/packages/agents-m365copilot-core/src
  .azure-pipelines/cd-build-deploy-typescript-v1.yml: any of: typescript/packages/agents-m365copilot/generated
  .azure-pipelines/cd-build-deploy-typescript.yml: any of: typescript/packages/agents-m365copilot-beta/generated, typescript/packages/agents-m365copilot-core/src

feat(generation): update request builders and models for typescript v1
  typescript/packages/agents-m365copilot/generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-typescript-v1.yml

fix(ci): use private feed for dotnet restores
  .azure-pipelines/cd-build-deploy-dotnet-beta.yml
  .azure-pipelines/cd-build-deploy-dotnet-core.yml
  .azure-pipelines/cd-build-deploy-dotnet-v1.yml
Due: none

fix(ci): use private feed for dotnet restores (#496)
  .azure-pipelines/cd-build-deploy-dotnet-beta.yml
  .azure-pipelines/cd-build-deploy-dotnet-core.yml
  .azure-pipelines/cd-build-deploy-dotnet-v1.yml
Due: none

Force CFS nuget.config on Core build/test restore (CFSClean)
  .azure-pipelines/cd-build-deploy-dotnet-core.yml
Due: none

ci: Force CFS nuget.config on Core build/test restore (CFSClean) (#500)
  .azure-pipelines/cd-build-deploy-dotnet-core.yml
Due: none

Fix Core CFSClean leak: drop legacy PackageValidation SDK; split restore/build/test
  .azure-pipelines/cd-build-deploy-dotnet-core.yml
  dotnet/src/Microsoft.Agents.M365Copilot.Core/Microsoft.Agents.M365Copilot.Core.csproj
Due: .azure-pipelines/cd-build-deploy-dotnet.yml

Split restore/build/test for Beta and V1 .NET pipelines (CFSClean)
  .azure-pipelines/cd-build-deploy-dotnet-beta.yml
  .azure-pipelines/cd-build-deploy-dotnet-v1.yml
Due: none

feat(generation): update request builders and models for python v1
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/kiota-lock.json
Due: none

feat(generation): update request builders and models for dotnet v1
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/kiota-lock.json
Due: none

Disable .NET SDK workload advertising-manifest update to stop nuget.org egress (CFSClean)
  .azure-pipelines/cd-build-deploy-dotnet-beta.yml
  .azure-pipelines/cd-build-deploy-dotnet-core.yml
  .azure-pipelines/cd-build-deploy-dotnet-v1.yml
Due: none

Fix poetry Azure Artifacts auth on Python Beta/V1 pipelines
  .azure-pipelines/cd-build-deploy-python-beta.yml
  .azure-pipelines/cd-build-deploy-python-v1.yml
Due: none

Route Python Core pipeline package installs through the CFS feed (CFSClean)
  .azure-pipelines/cd-build-deploy-python-core.yml
Due: none

Authenticate poetry build to the CFS feed (PEP 517 build isolation)
  .azure-pipelines/cd-build-deploy-python-beta.yml
  .azure-pipelines/cd-build-deploy-python-core.yml
  .azure-pipelines/cd-build-deploy-python-v1.yml
Due: none

ci: Fix .NET CFSClean leaks: drop legacy PackageValidation SDK (Core) + split restore/build/test (Core/Beta/V1) (#501)
  .azure-pipelines/cd-build-deploy-dotnet-beta.yml
  .azure-pipelines/cd-build-deploy-dotnet-core.yml
  .azure-pipelines/cd-build-deploy-dotnet-v1.yml
  dotnet/src/Microsoft.Agents.M365Copilot.Core/Microsoft.Agents.M365Copilot.Core.csproj
Due: .azure-pipelines/cd-build-deploy-dotnet.yml

ci: Make Python CD pipelines CFSClean-compliant (Core/Beta/V1) + fix poetry feed auth (#503)
  .azure-pipelines/cd-build-deploy-python-beta.yml
  .azure-pipelines/cd-build-deploy-python-core.yml
  .azure-pipelines/cd-build-deploy-python-v1.yml
Due: none

Pin GitHub Actions to full-length commit SHAs
  .github/dependabot.yml
  .github/workflows/build-and-test-dotnet-core.yml
  .github/workflows/build-and-test-python-beta.yml
  .github/workflows/build-and-test-python-core.yml
  .github/workflows/build-and-test-python-v1.yml
  .github/workflows/build-and-test.yml
  .github/workflows/release-please-gha.yml
Due: none

feat(generation): update request builders and models for typescript beta
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-typescript.yml

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
Due: none

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

chore: update dotnet to latest patch
  dotnet/src/Microsoft.Agents.M365Copilot.Core/global.json
Due: none

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/agent_registrations/agent_registrations_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/agent_registrations/count/count_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/conversations/conversations_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/conversations/count/count_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/conversations/item/copilot_conversation_item_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/conversations/item/messages/item/copilot_conversation_message_item_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/conversations/item/messages/messages_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-dom-export.txt
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/agent_registration_collection_response.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/copilot_conversation_collection_response.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/copilot_conversation_message_collection_response.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/copilot_package.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/copilot_package_detail.py
Due: none

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/AgentRegistrations/AgentRegistrationsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/AgentRegistrations/Count/CountRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Conversations/ConversationsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Conversations/Count/CountRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Conversations/Item/CopilotConversationItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Conversations/Item/Messages/Item/CopilotConversationMessageItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Conversations/Item/Messages/MessagesRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/AgentRegistrationCollectionResponse.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotConversationCollectionResponse.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotConversationMessageCollectionResponse.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotPackage.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotPackageDetail.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-dom-export.txt
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

feat(generation): update request builders and models for typescript beta
  typescript/packages/agents-m365copilot-beta/generated/copilot/agentRegistrations/count/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/agentRegistrations/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/conversations/count/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/conversations/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/conversations/item/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/conversations/item/messages/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/conversations/item/messages/item/index.ts
  typescript/packages/agents-m365copilot-beta/generated/kiota-dom-export.txt
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
  typescript/packages/agents-m365copilot-beta/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript.yml

feat(generation): update request builders and models for dotnet v1
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Reports/GetMicrosoft365CopilotUsageUserDetailWithPeriod/GetMicrosoft365CopilotUsageUserDetailWithPeriodRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Reports/GetMicrosoft365CopilotUsageUserDetailWithPeriodversionVersion/GetMicrosoft365CopilotUsageUserDetailWithPeriodversionVersionRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Reports/GetMicrosoft365CopilotUserCountSummaryWithPeriod/GetMicrosoft365CopilotUserCountSummaryWithPeriodRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Reports/GetMicrosoft365CopilotUserCountSummaryWithPeriodversionVersion/GetMicrosoft365CopilotUserCountSummaryWithPeriodversionVersionRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Reports/GetMicrosoft365CopilotUserCountTrendWithPeriod/GetMicrosoft365CopilotUserCountTrendWithPeriodRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Reports/GetMicrosoft365CopilotUserCountTrendWithPeriodversionVersion/GetMicrosoft365CopilotUserCountTrendWithPeriodversionVersionRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Reports/ReportsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/CopilotPackage.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/CopilotPackageDetail.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/RetrievalDataSource.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/SharePointEmbeddedConfiguration.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/kiota-dom-export.txt
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/kiota-lock.json
Due: none

feat(generation): update request builders and models for typescript v1
  typescript/packages/agents-m365copilot/generated/copilot/reports/getMicrosoft365CopilotUsageUserDetailWithPeriodversionVersion/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/reports/getMicrosoft365CopilotUserCountSummaryWithPeriodversionVersion/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/reports/getMicrosoft365CopilotUserCountTrendWithPeriodversionVersion/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/reports/index.ts
  typescript/packages/agents-m365copilot/generated/kiota-dom-export.txt
  typescript/packages/agents-m365copilot/generated/kiota-lock.json
  typescript/packages/agents-m365copilot/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript-v1.yml

feat(generation): update request builders and models for python v1
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/reports/get_microsoft365_copilot_usage_user_detail_with_periodversion_version/get_microsoft365_copilot_usage_user_detail_with_periodversion_version_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/reports/get_microsoft365_copilot_user_count_summary_with_periodversion_version/get_microsoft365_copilot_user_count_summary_with_periodversion_version_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/reports/get_microsoft365_copilot_user_count_trend_with_periodversion_version/get_microsoft365_copilot_user_count_trend_with_periodversion_version_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/reports/reports_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/kiota-dom-export.txt
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/copilot_package.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/copilot_package_detail.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/retrieval_data_source.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/share_point_embedded_configuration.py
Due: none

feat(generation): update request builders and models for typescript v1
  typescript/packages/agents-m365copilot/generated/kiota-dom-export.txt
  typescript/packages/agents-m365copilot/generated/kiota-lock.json
  typescript/packages/agents-m365copilot/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript-v1.yml

feat(generation): update request builders and models for python v1
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/kiota-dom-export.txt
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/copilot_package.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/copilot_package_request_status.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/copilot_package_request_type.py
Due: none

feat(generation): update request builders and models for dotnet v1
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/CopilotPackage.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/CopilotPackageRequestStatus.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/CopilotPackageRequestType.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/kiota-dom-export.txt
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/kiota-lock.json
Due: none

feat(generation): update request builders and models for typescript beta
  typescript/packages/agents-m365copilot-beta/generated/kiota-dom-export.txt
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
  typescript/packages/agents-m365copilot-beta/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript.yml

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotPackage.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotPackageRequestStatus.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotPackageRequestType.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/SensitivityLabelInfo.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-dom-export.txt
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-dom-export.txt
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/copilot_package.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/copilot_package_request_status.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/copilot_package_request_type.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/sensitivity_label_info.py
Due: none
