Repository microsoft/Agents-M365Copilot: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml, .azure-pipelines/cd-build-deploy-python-beta.yml, .azure-pipelines/cd-build-deploy-python-v1.yml, .azure-pipelines/cd-build-deploy-python.yml, .azure-pipelines/cd-build-deploy-typescript-core.yml, .azure-pipelines/cd-build-deploy-typescript-v1.yml, .azure-pipelines/cd-build-deploy-typescript.yml

Path conditions:
  .azure-pipelines/cd-build-deploy-dotnet-beta.yml: any of: dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated, dotnet/src/Microsoft.Agents.M365Copilot.Beta/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Beta/Microsoft.Agents.M365Copilot.Beta.csproj
  .azure-pipelines/cd-build-deploy-dotnet.yml: any of: dotnet/src/Microsoft.Agents.M365Copilot.Core/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Core/Microsoft.Agents.M365Copilot.Core.csproj, dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated, dotnet/src/Microsoft.Agents.M365Copilot.Beta/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Beta/Microsoft.Agents.M365Copilot.Beta.csproj
  .azure-pipelines/cd-build-deploy-python-beta.yml: any of: python/packages/microsoft_agents_m365copilot_beta/generated, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_request_adapter.py, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_service_client.py
  .azure-pipelines/cd-build-deploy-python-v1.yml: any of: python/packages/microsoft_agents_m365copilot/generated, python/packages/microsoft_agents_m365copilot/src/agents_m365_copilot_request_adapter.py, python/packages/microsoft_agents_m365copilot/src/agents_m365_copilot_service_client.py
  .azure-pipelines/cd-build-deploy-python.yml: any of: python/packages/microsoft_agents_m365copilot_beta/generated, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_request_adapter.py, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_service_client.py, python/packages/microsoft_agents_m365copilot_core/src
  .azure-pipelines/cd-build-deploy-typescript-core.yml: any of: typescript/packages/agents-m365copilot-core/src
  .azure-pipelines/cd-build-deploy-typescript-v1.yml: any of: typescript/packages/agents-m365copilot/generated
  .azure-pipelines/cd-build-deploy-typescript.yml: any of: typescript/packages/agents-m365copilot-beta/generated, typescript/packages/agents-m365copilot-core/src

feat(generation): update request builders and models for typescript beta
  typescript/packages/agents-m365copilot-beta/generated/kiota-dom-export.txt
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
  typescript/packages/agents-m365copilot-beta/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript.yml

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-dom-export.txt
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/a2a_authorization.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/a2a_authorization_type.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/agent_registration.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/application_identity.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/call_ai_insight.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/identity.py
Due: none

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/A2aAuthorization.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/A2aAuthorizationType.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/AgentRegistration.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/ApplicationIdentity.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CallAiInsight.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/Identity.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-dom-export.txt
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

feat(generation): update request builders and models for typescript v1
  typescript/packages/agents-m365copilot/generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-typescript-v1.yml

feat(generation): update request builders and models for dotnet v1
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/kiota-lock.json
Due: none
