Repository microsoft/Agents-M365Copilot: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml, .azure-pipelines/cd-build-deploy-python.yml, .azure-pipelines/cd-build-deploy-typescript-core.yml, .azure-pipelines/cd-build-deploy-typescript.yml

.azure-pipelines/cd-build-deploy-dotnet-beta.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: windows-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-dotnet.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: windows-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-python.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: ubuntu-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-typescript-core.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: windows-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-typescript.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: windows-latest
      stages:
      - stage: build
  ...

chore: add pylintrc
  python/packages/microsoft_agents_m365copilot_beta/.pylintrc
Due: none

chore: remove pylint, no need to lint generated files
  .azure-pipelines/cd-build-deploy-python-beta.yml
Due: none

chore: no need to lint generated code, at least not repeatedly
  .azure-pipelines/cd-build-deploy-python-beta.yml
Due: none

chore: refactor github action for python beta
  .github/workflows/build-and-test-python-beta.yml
  .github/workflows/build-and-test.yml
Due: none

fix: trigger release
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/__init__.py
Due: none

docs: update readme
  python/packages/microsoft_agents_m365copilot_beta/README.md
Due: none

fix: trigger release please
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/_version.py
Due: none

chore: update release please version configuration
  python/packages/microsoft_agents_m365copilot_core/microsoft_agents_m365copilot_core/src/_constants.py
  release-please-config.json
Due: none

chore: fix version to match release please manifest
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/_version.py
Due: none

Updating Typescript and Python READMEs
  python/README.md
  typescript/README.md
Due: none

feat(generation): update request builders and models for typescript beta
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-typescript.yml

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/Identity.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

feat(generation): update request builders and models for typescript beta
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
  typescript/packages/agents-m365copilot-beta/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript.yml

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/Identity.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/IdentitySet.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/IdentitySet.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
Due: none

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Communications/RealtimeActivityFeed/MultiActivitySubscriptions/Item/GetArtifacts/GetArtifactsPostRequestBody.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Communications/RealtimeActivityFeed/MultiActivitySubscriptions/Item/GetArtifacts/GetArtifactsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Communications/RealtimeActivityFeed/MultiActivitySubscriptions/Item/MultiActivitySubscriptionItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/ArtifactType.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/GetArtifactsResponse.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/TranscriptPayload.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-dom-export.txt
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/communications/realtime_activity_feed/multi_activity_subscriptions/item/get_artifacts/get_artifacts_post_request_body.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/communications/realtime_activity_feed/multi_activity_subscriptions/item/get_artifacts/get_artifacts_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/communications/realtime_activity_feed/multi_activity_subscriptions/item/multi_activity_subscription_item_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-dom-export.txt
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/artifact_type.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/get_artifacts_response.py
Due: none

feat(generation): update request builders and models for typescript beta
  typescript/packages/agents-m365copilot-beta/generated/copilot/communications/realtimeActivityFeed/multiActivitySubscriptions/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/communications/realtimeActivityFeed/multiActivitySubscriptions/item/getArtifacts/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/communications/realtimeActivityFeed/multiActivitySubscriptions/item/index.ts
  typescript/packages/agents-m365copilot-beta/generated/kiota-dom-export.txt
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
  typescript/packages/agents-m365copilot-beta/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript.yml

Path conditions:
  .azure-pipelines/cd-build-deploy-dotnet-beta.yml: any of: dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated, dotnet/src/Microsoft.Agents.M365Copilot.Beta/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Beta/Microsoft.Agents.M365Copilot.Beta.csproj
  .azure-pipelines/cd-build-deploy-dotnet.yml: any of: dotnet/src/Microsoft.Agents.M365Copilot.Core/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Core/Microsoft.Agents.M365Copilot.Core.csproj, dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated, dotnet/src/Microsoft.Agents.M365Copilot.Beta/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Beta/Microsoft.Agents.M365Copilot.Beta.csproj
  .azure-pipelines/cd-build-deploy-python.yml: any of: python/packages/microsoft_agents_m365copilot_beta/generated, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_request_adapter.py, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_service_client.py, python/packages/microsoft_agents_m365copilot_core/src
  .azure-pipelines/cd-build-deploy-typescript-core.yml: any of: typescript/packages/agents-m365copilot-core/src
  .azure-pipelines/cd-build-deploy-typescript.yml: any of: typescript/packages/agents-m365copilot-beta/generated, typescript/packages/agents-m365copilot-core/src
