Repository microsoft/Agents-M365Copilot: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet-core.yml, .azure-pipelines/cd-build-deploy-dotnet-v1.yml, .azure-pipelines/cd-build-deploy-dotnet.yml, .azure-pipelines/cd-build-deploy-python-beta.yml, .azure-pipelines/cd-build-deploy-python-core.yml, .azure-pipelines/cd-build-deploy-python-v1.yml, .azure-pipelines/cd-build-deploy-python.yml, .azure-pipelines/cd-build-deploy-typescript-core.yml, .azure-pipelines/cd-build-deploy-typescript-v1.yml, .azure-pipelines/cd-build-deploy-typescript.yml

Path conditions:
  .azure-pipelines/cd-build-deploy-dotnet-beta.yml: any of: dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated, dotnet/src/Microsoft.Agents.M365Copilot.Beta/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Beta/Microsoft.Agents.M365Copilot.Beta.csproj
  .azure-pipelines/cd-build-deploy-dotnet-core.yml: any of: dotnet/src/Microsoft.Agents.M365Copilot.Core/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Core/Microsoft.Agents.M365Copilot.Core.csproj
  .azure-pipelines/cd-build-deploy-dotnet-v1.yml: any of: dotnet/src/Microsoft.Agents.M365Copilot/Generated, dotnet/src/Microsoft.Agents.M365Copilot/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot/Microsoft.Agents.M365Copilot.csproj
  .azure-pipelines/cd-build-deploy-dotnet.yml: any of: dotnet/src/Microsoft.Agents.M365Copilot.Core/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Core/Microsoft.Agents.M365Copilot.Core.csproj, dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated, dotnet/src/Microsoft.Agents.M365Copilot.Beta/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Beta/Microsoft.Agents.M365Copilot.Beta.csproj
  .azure-pipelines/cd-build-deploy-python-beta.yml: any of: python/packages/microsoft_agents_m365copilot_beta/generated, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_request_adapter.py, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_service_client.py
  .azure-pipelines/cd-build-deploy-python-core.yml: any of: python/packages/microsoft_agents_m365copilot_core/src
  .azure-pipelines/cd-build-deploy-python-v1.yml: any of: python/packages/microsoft_agents_m365copilot/generated, python/packages/microsoft_agents_m365copilot/src/agents_m365_copilot_request_adapter.py, python/packages/microsoft_agents_m365copilot/src/agents_m365_copilot_service_client.py
  .azure-pipelines/cd-build-deploy-python.yml: any of: python/packages/microsoft_agents_m365copilot_beta/generated, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_request_adapter.py, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_service_client.py, python/packages/microsoft_agents_m365copilot_core/src
  .azure-pipelines/cd-build-deploy-typescript-core.yml: any of: typescript/packages/agents-m365copilot-core/src
  .azure-pipelines/cd-build-deploy-typescript-v1.yml: any of: typescript/packages/agents-m365copilot/generated
  .azure-pipelines/cd-build-deploy-typescript.yml: any of: typescript/packages/agents-m365copilot-beta/generated, typescript/packages/agents-m365copilot-core/src

ci: pipeline work (#212)
  .azure-pipelines/cd-build-deploy-dotnet-beta.yml
  .azure-pipelines/cd-build-deploy-dotnet-core.yml
  .azure-pipelines/cd-build-deploy-dotnet-v1.yml
  .azure-pipelines/cd-build-deploy-python-core.yml
  .azure-pipelines/cd-build-deploy-python-v1.yml
  .azure-pipelines/cd-build-deploy-typescript-beta.yml
  .azure-pipelines/cd-build-deploy-typescript-core.yml
  .azure-pipelines/cd-build-deploy-typescript-v1.yml
  typescript/package.json
Due: none

ci: fix filename pattern
  .azure-pipelines/cd-build-deploy-typescript-v1.yml
Due: none

ci: fix filename pattern (#214)
  .azure-pipelines/cd-build-deploy-typescript-v1.yml
Due: none

chore: update TS and Python to GA release versioning
  .release-please-manifest.json
  release-please-config.json
Due: none

ci: provide better filter for release trigger
  .azure-pipelines/cd-build-deploy-dotnet-beta.yml
  .azure-pipelines/cd-build-deploy-dotnet-core.yml
  .azure-pipelines/cd-build-deploy-dotnet-v1.yml
  .azure-pipelines/cd-build-deploy-python-beta.yml
  .azure-pipelines/cd-build-deploy-python-core.yml
  .azure-pipelines/cd-build-deploy-python-v1.yml
  .azure-pipelines/cd-build-deploy-typescript-beta.yml
  .azure-pipelines/cd-build-deploy-typescript-core.yml
  .azure-pipelines/cd-build-deploy-typescript-v1.yml
Due: none

ci: provide better filter for release please trigger
  .github/workflows/release-please-gha.yml
Due: none

ci: fix typo
  .azure-pipelines/cd-build-deploy-dotnet-beta.yml
Due: none

ci: only use tags set by release please for kicking off a release run
  .azure-pipelines/cd-build-deploy-dotnet-beta.yml
  .azure-pipelines/cd-build-deploy-dotnet-core.yml
  .azure-pipelines/cd-build-deploy-dotnet-v1.yml
  .azure-pipelines/cd-build-deploy-python-beta.yml
  .azure-pipelines/cd-build-deploy-python-core.yml
  .azure-pipelines/cd-build-deploy-python-v1.yml
  .azure-pipelines/cd-build-deploy-typescript-beta.yml
  .azure-pipelines/cd-build-deploy-typescript-core.yml
  .azure-pipelines/cd-build-deploy-typescript-v1.yml
Due: none

ci: remove paths filter for release please
  .github/workflows/release-please-gha.yml
Due: none

ci: update cor libraries to GA v1.0.0
  .release-please-manifest.json
  release-please-config.json
Due: none

chore: update .NET to target 10.0
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Microsoft.Agents.M365Copilot.Beta.csproj
  dotnet/src/Microsoft.Agents.M365Copilot.Core/Microsoft.Agents.M365Copilot.Core.csproj
  dotnet/src/Microsoft.Agents.M365Copilot/Microsoft.Agents.M365Copilot.csproj
  dotnet/tests/Microsoft.Agents.M365Copilot.Beta.Tests/Microsoft.Agents.M365Copilot.Beta.Tests.csproj
  dotnet/tests/Microsoft.Agents.M365Copilot.Core.Tests/Microsoft.Agents.M365Copilot.Core.Tests.csproj
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet-core.yml, .azure-pipelines/cd-build-deploy-dotnet-v1.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

ci: target .NET 10
  .azure-pipelines/cd-build-deploy-dotnet-beta.yml
  .azure-pipelines/cd-build-deploy-dotnet-core.yml
  .azure-pipelines/cd-build-deploy-dotnet-v1.yml
  .github/workflows/build-and-test.yml
Due: none

feat(generation): update request builders and models for dotnet v1
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-v1.yml

feat(generation): update request builders and models for typescript v1
  typescript/packages/agents-m365copilot/generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-typescript-v1.yml

feat(generation): update request builders and models for python v1
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/kiota-lock.json
Due: none

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Admin/Catalog/CatalogRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Agents/AgentsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Agents/Count/CountRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Agents/Item/AgentItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/CopilotRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/AccessEntityType.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/Agent.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/AgentCollectionResponse.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotAdmin.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotAdminCatalog.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotPackage.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotPackageDetail.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotPackageDetailCollectionResponse.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotTool.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/Entity.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/PackageAccessEntity.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/PackageElement.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/PackageElementDetail.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/PackageStatus.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/PackageType.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-dom-export.txt
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/admin/catalog/catalog_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/admin/catalog/packages/count/count_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/admin/catalog/packages/item/copilot_package_detail_item_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/admin/catalog/packages/packages_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/agents/agents_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/agents/count/count_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/agents/item/agent_item_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/copilot_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-dom-export.txt
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/access_entity_type.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/agent.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/agent_collection_response.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/copilot_admin_catalog.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/copilot_package.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/copilot_package_detail.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/copilot_package_detail_collection_response.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/copilot_tool.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/entity.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/package_access_entity.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/package_element.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/package_element_detail.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/package_status.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/package_type.py
Due: none

feat(generation): update request builders and models for typescript beta
  typescript/packages/agents-m365copilot-beta/generated/copilot/admin/catalog/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/admin/catalog/packages/count/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/admin/catalog/packages/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/admin/catalog/packages/item/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/agents/count/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/agents/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/agents/item/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/index.ts
  typescript/packages/agents-m365copilot-beta/generated/kiota-dom-export.txt
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
  typescript/packages/agents-m365copilot-beta/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript.yml

reverting back to 1.0.0
  .release-please-manifest.json
  dotnet/src/Microsoft.Agents.M365Copilot.Core/CHANGELOG.md
  dotnet/src/Microsoft.Agents.M365Copilot.Core/Microsoft.Agents.M365Copilot.Core.csproj
  python/packages/microsoft_agents_m365copilot/CHANGELOG.md
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/_version.py
  python/packages/microsoft_agents_m365copilot/pyproject.toml
  python/packages/microsoft_agents_m365copilot_core/CHANGELOG.md
  python/packages/microsoft_agents_m365copilot_core/microsoft_agents_m365copilot_core/src/_constants.py
  python/packages/microsoft_agents_m365copilot_core/pyproject.toml
  typescript/packages/agents-m365copilot-core/CHANGELOG.md
  typescript/packages/agents-m365copilot-core/package.json
  typescript/packages/agents-m365copilot-core/src/utils/Version.ts
  typescript/packages/agents-m365copilot/CHANGELOG.md
  typescript/packages/agents-m365copilot/package.json
Due: .azure-pipelines/cd-build-deploy-dotnet-core.yml, .azure-pipelines/cd-build-deploy-dotnet.yml, .azure-pipelines/cd-build-deploy-typescript-core.yml, .azure-pipelines/cd-build-deploy-typescript.yml

Update dotnet/src/Microsoft.Agents.M365Copilot.Core/CHANGELOG.md
  dotnet/src/Microsoft.Agents.M365Copilot.Core/CHANGELOG.md
Due: none

addessed changes
  python/packages/microsoft_agents_m365copilot/CHANGELOG.md
  typescript/packages/agents-m365copilot-core/CHANGELOG.md
  typescript/packages/agents-m365copilot/CHANGELOG.md
Due: none

missing changelog
  python/packages/microsoft_agents_m365copilot_core/CHANGELOG.md
Due: none

adding do not ignore rule
  dotnet/.gitignore
Due: none

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Admin/Catalog/CatalogRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Admin/Catalog/Packages/Count/CountRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Admin/Catalog/Packages/Item/CopilotPackageDetailItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Admin/Catalog/Packages/PackagesRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Agents/AgentsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Agents/Count/CountRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Agents/Item/AgentItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/CopilotRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/AccessEntityType.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/Agent.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/AgentCollectionResponse.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotAdmin.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotAdminCatalog.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotPackage.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotPackageDetail.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotPackageDetailCollectionResponse.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotTool.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/Entity.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/PackageAccessEntity.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/PackageElement.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/PackageElementDetail.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/PackageStatus.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/PackageType.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-dom-export.txt
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

feat(generation): update request builders and models for python v1
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/copilot_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/reports/reports_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/kiota-dom-export.txt
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/copilot_report_root.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/entity.py
Due: none

feat(generation): update request builders and models for dotnet v1
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/CopilotRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Reports/ReportsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/CopilotReportRoot.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/Entity.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/kiota-dom-export.txt
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-v1.yml

feat(generation): update request builders and models for typescript v1
  typescript/packages/agents-m365copilot/generated/copilot/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/reports/index.ts
  typescript/packages/agents-m365copilot/generated/kiota-dom-export.txt
  typescript/packages/agents-m365copilot/generated/kiota-lock.json
  typescript/packages/agents-m365copilot/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript-v1.yml

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/CopilotRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Reports/ReportsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotReportRoot.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/Entity.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/GroupIdentity.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/Identity.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-dom-export.txt
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/copilot_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/reports/reports_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-dom-export.txt
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/copilot_report_root.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/entity.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/group_identity.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/identity.py
Due: none

feat(generation): update request builders and models for typescript beta
  typescript/packages/agents-m365copilot-beta/generated/copilot/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/reports/index.ts
  typescript/packages/agents-m365copilot-beta/generated/kiota-dom-export.txt
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
  typescript/packages/agents-m365copilot-beta/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript.yml

chore: add versioning comment to Version.ts
  typescript/packages/agents-m365copilot-core/src/utils/Version.ts
Due: .azure-pipelines/cd-build-deploy-typescript-core.yml, .azure-pipelines/cd-build-deploy-typescript.yml

chore: add versioning comment to Version.ts (#235)
  typescript/packages/agents-m365copilot-core/src/utils/Version.ts
Due: .azure-pipelines/cd-build-deploy-typescript-core.yml, .azure-pipelines/cd-build-deploy-typescript.yml

fix: verison sync
  .release-please-manifest.json
Due: none

fix: verison sync (#236)
  .release-please-manifest.json
Due: none

fix: reset the version number
  .release-please-manifest.json
Due: none

fix: reset the version number (#237)
  .release-please-manifest.json
Due: none

chore(ci): fix test target framework
  .azure-pipelines/cd-build-deploy-dotnet-core.yml
Due: none

chore(ci): add GHA to validate dotnet core changes
  .github/workflows/build-and-test-dotnet-core.yml
Due: none
