Repository microsoft/Agents-M365Copilot: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet-core.yml, .azure-pipelines/cd-build-deploy-dotnet.yml, .azure-pipelines/cd-build-deploy-python-beta.yml, .azure-pipelines/cd-build-deploy-python-v1.yml, .azure-pipelines/cd-build-deploy-python.yml, .azure-pipelines/cd-build-deploy-typescript-core.yml, .azure-pipelines/cd-build-deploy-typescript-v1.yml, .azure-pipelines/cd-build-deploy-typescript.yml

.azure-pipelines/cd-build-deploy-dotnet-beta.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: windows-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-dotnet-core.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: windows-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-dotnet.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: windows-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-python-beta.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: ubuntu-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-python-v1.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: ubuntu-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-python.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: ubuntu-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-typescript-core.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: windows-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-typescript-v1.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: windows-latest
      stages:
      - stage: build
  ...

chore(ci): update InternalsVisibleTo for core lib
  dotnet/src/Microsoft.Agents.M365Copilot.Core/Properties/AssemblyInfo.cs
Due: .azure-pipelines/cd-build-deploy-dotnet-core.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

chore(ci): test targets LTS dotnet
  .azure-pipelines/cd-build-deploy-dotnet-core.yml
  .github/workflows/build-and-test-dotnet-core.yml
  dotnet/tests/Microsoft.Agents.M365Copilot.Core.Tests/Microsoft.Agents.M365Copilot.Core.Tests.csproj
Due: none

chore(ci): fix test target framework (#240)
  .azure-pipelines/cd-build-deploy-dotnet-core.yml
  .github/workflows/build-and-test-dotnet-core.yml
  dotnet/src/Microsoft.Agents.M365Copilot.Core/Properties/AssemblyInfo.cs
  dotnet/tests/Microsoft.Agents.M365Copilot.Core.Tests/Microsoft.Agents.M365Copilot.Core.Tests.csproj
Due: .azure-pipelines/cd-build-deploy-dotnet-core.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

chore(ci):allow friend when signed production build
  dotnet/src/Microsoft.Agents.M365Copilot.Core/Microsoft.Agents.M365Copilot.Core.csproj
  dotnet/src/Microsoft.Agents.M365Copilot.Core/Properties/AssemblyInfo.cs
Due: .azure-pipelines/cd-build-deploy-dotnet-core.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

chore: fix current version
  .release-please-manifest.json
Due: none

chore(ci):allow friend when signed production build (#241)
  .release-please-manifest.json
  dotnet/src/Microsoft.Agents.M365Copilot.Core/Microsoft.Agents.M365Copilot.Core.csproj
  dotnet/src/Microsoft.Agents.M365Copilot.Core/Properties/AssemblyInfo.cs
Due: .azure-pipelines/cd-build-deploy-dotnet-core.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

chore(ci): specify package spec to only target nupkg
  .azure-pipelines/cd-build-deploy-dotnet-beta.yml
  .azure-pipelines/cd-build-deploy-dotnet-core.yml
  .azure-pipelines/cd-build-deploy-dotnet-v1.yml
Due: none

chore(ci): specify package spec to only target nupkg (#243)
  .azure-pipelines/cd-build-deploy-dotnet-beta.yml
  .azure-pipelines/cd-build-deploy-dotnet-core.yml
  .azure-pipelines/cd-build-deploy-dotnet-v1.yml
Due: none

ci: limit paths for ci runs
  .github/workflows/build-and-test-dotnet-core.yml
  .github/workflows/build-and-test.yml
  .github/workflows/release-please-gha.yml
Due: none

feat(generation): update request builders and models for dotnet v1
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/CommunicationsIdentitySet.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/Initiator.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/TeamworkApplicationIdentity.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/TeamworkConversationIdentity.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/TeamworkUserIdentity.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/kiota-lock.json
Due: none

feat(generation): update request builders and models for python v1
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/communications_identity_set.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/initiator.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/teamwork_application_identity.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/teamwork_conversation_identity.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/teamwork_user_identity.py
Due: none

feat(generation): update request builders and models for typescript v1
  typescript/packages/agents-m365copilot/generated/kiota-lock.json
  typescript/packages/agents-m365copilot/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript-v1.yml

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/communications_identity_set.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/group_identity.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/initiator.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/teamwork_application_identity.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/teamwork_conversation_identity.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/teamwork_user_identity.py
Due: none

feat(generation): update request builders and models for typescript beta
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
  typescript/packages/agents-m365copilot-beta/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript.yml

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CommunicationsIdentitySet.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/GroupIdentity.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/Initiator.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/TeamworkApplicationIdentity.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/TeamworkConversationIdentity.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/TeamworkUserIdentity.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

ci: limit paths for ci runs (#244)
  .github/workflows/build-and-test-dotnet-core.yml
  .github/workflows/build-and-test.yml
  .github/workflows/release-please-gha.yml
Due: none

Add Python OBO flow frontend and backend sample
  python/README.md
  python/backend.py
  python/frontend.py
Due: none

feat(generation): update request builders and models for dotnet v1
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Reports/GetMicrosoft365CopilotUsageUserDetailWithPeriod/GetMicrosoft365CopilotUsageUserDetailWithPeriodRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Reports/GetMicrosoft365CopilotUserCountSummaryWithPeriod/GetMicrosoft365CopilotUserCountSummaryWithPeriodRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Reports/GetMicrosoft365CopilotUserCountTrendWithPeriod/GetMicrosoft365CopilotUserCountTrendWithPeriodRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Users/Item/AiUserItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Users/Item/OnlineMeetings/Count/CountRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Users/Item/OnlineMeetings/Item/AiInsights/AiInsightsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Users/Item/OnlineMeetings/Item/AiInsights/Count/CountRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Users/Item/OnlineMeetings/Item/AiInsights/Item/CallAiInsightItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Users/Item/OnlineMeetings/Item/AiOnlineMeetingItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Copilot/Users/Item/OnlineMeetings/OnlineMeetingsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/ActionItem.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/AiOnlineMeeting.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/AiOnlineMeetingCollectionResponse.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/AiUser.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/CallAiInsight.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/CallAiInsightCollectionResponse.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/CallAiInsightViewPoint.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/MeetingNote.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/MeetingNoteSubpoint.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/MentionEvent.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/kiota-dom-export.txt
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/kiota-lock.json
Due: none

feat(generation): update request builders and models for python v1
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/reports/get_microsoft365_copilot_usage_user_detail_with_period/get_microsoft365_copilot_usage_user_detail_with_period_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/reports/get_microsoft365_copilot_user_count_summary_with_period/get_microsoft365_copilot_user_count_summary_with_period_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/reports/get_microsoft365_copilot_user_count_trend_with_period/get_microsoft365_copilot_user_count_trend_with_period_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/users/item/ai_user_item_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/users/item/online_meetings/count/count_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/users/item/online_meetings/item/ai_insights/ai_insights_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/users/item/online_meetings/item/ai_insights/count/count_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/users/item/online_meetings/item/ai_insights/item/call_ai_insight_item_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/users/item/online_meetings/item/ai_online_meeting_item_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/copilot/users/item/online_meetings/online_meetings_request_builder.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/kiota-dom-export.txt
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/action_item.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/ai_online_meeting.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/ai_online_meeting_collection_response.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/call_ai_insight.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/call_ai_insight_collection_response.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/call_ai_insight_view_point.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/entity.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/meeting_note.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/meeting_note_subpoint.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/mention_event.py
Due: none

feat(generation): update request builders and models for typescript v1
  typescript/packages/agents-m365copilot/generated/copilot/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/reports/getMicrosoft365CopilotUsageUserDetailWithPeriod/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/reports/getMicrosoft365CopilotUserCountSummaryWithPeriod/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/reports/getMicrosoft365CopilotUserCountTrendWithPeriod/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/reports/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/users/item/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/users/item/onlineMeetings/count/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/users/item/onlineMeetings/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/users/item/onlineMeetings/item/aiInsights/count/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/users/item/onlineMeetings/item/aiInsights/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/users/item/onlineMeetings/item/aiInsights/item/index.ts
  typescript/packages/agents-m365copilot/generated/copilot/users/item/onlineMeetings/item/index.ts
  typescript/packages/agents-m365copilot/generated/kiota-dom-export.txt
  typescript/packages/agents-m365copilot/generated/kiota-lock.json
  typescript/packages/agents-m365copilot/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript-v1.yml

feat(generation): update request builders and models for typescript beta
  typescript/packages/agents-m365copilot-beta/generated/copilot/conversations/count/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/conversations/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/conversations/item/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/conversations/item/messages/count/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/conversations/item/messages/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/conversations/item/messages/item/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/conversations/item/microsoftGraphCopilotChat/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/conversations/item/microsoftGraphCopilotChatOverStream/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/conversations/microsoftGraphCopilotDeleteByThreadId/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/reports/getMicrosoft365CopilotUsageUserDetailWithPeriod/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/reports/getMicrosoft365CopilotUserCountSummaryWithPeriod/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/reports/getMicrosoft365CopilotUserCountTrendWithPeriod/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/reports/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/search/index.ts
  typescript/packages/agents-m365copilot-beta/generated/kiota-dom-export.txt
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
  typescript/packages/agents-m365copilot-beta/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript.yml

removing .net8 requirement
  .azure-pipelines/cd-build-deploy-dotnet-beta.yml
Due: none

feat(generation): update request builders and models for typescript v1
  typescript/packages/agents-m365copilot/generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-typescript-v1.yml

feat(generation): update request builders and models for dotnet v1
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/kiota-lock.json
Due: none

feat(generation): update request builders and models for python v1
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/kiota-lock.json
Due: none

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
Due: none

feat(generation): update request builders and models for typescript beta
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-typescript.yml

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

feat(generation): update request builders and models for typescript beta
  typescript/packages/agents-m365copilot-beta/generated/copilot/admin/catalog/packages/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/admin/catalog/packages/item/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/admin/catalog/packages/item/zipFile/index.ts
  typescript/packages/agents-m365copilot-beta/generated/kiota-dom-export.txt
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
  typescript/packages/agents-m365copilot-beta/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript.yml

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/admin/catalog/packages/item/zip_file/zip_file_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-dom-export.txt
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/copilot_package.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/copilot_package_detail.py
Due: none

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Admin/Catalog/Packages/Item/CopilotPackageDetailItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Admin/Catalog/Packages/Item/ZipFile/ZipFileRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotPackage.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotPackageDetail.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-dom-export.txt
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

Path conditions:
  .azure-pipelines/cd-build-deploy-dotnet-beta.yml: any of: dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated, dotnet/src/Microsoft.Agents.M365Copilot.Beta/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Beta/Microsoft.Agents.M365Copilot.Beta.csproj
  .azure-pipelines/cd-build-deploy-dotnet-core.yml: any of: dotnet/src/Microsoft.Agents.M365Copilot.Core/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Core/Microsoft.Agents.M365Copilot.Core.csproj
  .azure-pipelines/cd-build-deploy-dotnet.yml: any of: dotnet/src/Microsoft.Agents.M365Copilot.Core/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Core/Microsoft.Agents.M365Copilot.Core.csproj, dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated, dotnet/src/Microsoft.Agents.M365Copilot.Beta/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Beta/Microsoft.Agents.M365Copilot.Beta.csproj
  .azure-pipelines/cd-build-deploy-python-beta.yml: any of: python/packages/microsoft_agents_m365copilot_beta/generated, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_request_adapter.py, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_service_client.py
  .azure-pipelines/cd-build-deploy-python-v1.yml: any of: python/packages/microsoft_agents_m365copilot/generated, python/packages/microsoft_agents_m365copilot/src/agents_m365_copilot_request_adapter.py, python/packages/microsoft_agents_m365copilot/src/agents_m365_copilot_service_client.py
  .azure-pipelines/cd-build-deploy-python.yml: any of: python/packages/microsoft_agents_m365copilot_beta/generated, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_request_adapter.py, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_service_client.py, python/packages/microsoft_agents_m365copilot_core/src
  .azure-pipelines/cd-build-deploy-typescript-core.yml: any of: typescript/packages/agents-m365copilot-core/src
  .azure-pipelines/cd-build-deploy-typescript-v1.yml: any of: typescript/packages/agents-m365copilot/generated
  .azure-pipelines/cd-build-deploy-typescript.yml: any of: typescript/packages/agents-m365copilot-beta/generated, typescript/packages/agents-m365copilot-core/src
