Repository microsoft/Agents-M365Copilot: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/cd-build-deploy-dotnet.yml, .azure-pipelines/cd-build-deploy-python.yml, .azure-pipelines/cd-build-deploy-typescript.yml

.azure-pipelines/cd-build-deploy-dotnet.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: windows-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-python.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: ubuntu-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-typescript.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: windows-latest
      stages:
      - stage: build
  ...

chore: create separate pipelines for dotnet
  .azure-pipelines/cd-build-deploy-dotnet.yml
Due: none

chore: create separate pipelines for dotnet
  .azure-pipelines/cd-build-deploy-dotnet-beta.yml
  .azure-pipelines/cd-build-deploy-dotnet-core.yml
Due: none

chore: add missing metadata for csproj
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Microsoft.Agents.M365Copilot.Beta.csproj
  dotnet/src/Microsoft.Agents.M365Copilot.Core/Microsoft.Agents.M365Copilot.Core.csproj
Due: .azure-pipelines/cd-build-deploy-dotnet.yml

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/InteractionHistory/GetAllEnterpriseInteractions/GetAllEnterpriseInteractionsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Users/Count/CountRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Users/Item/InteractionHistory/GetAllEnterpriseInteractions/GetAllEnterpriseInteractionsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Users/Item/OnlineMeetings/Count/CountRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Users/Item/OnlineMeetings/Item/AiInsights/AiInsightsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Users/Item/OnlineMeetings/Item/AiInsights/Count/CountRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Users/Item/OnlineMeetings/OnlineMeetingsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Users/UsersRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotAdminSetting.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotPeopleAdminSetting.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/Identity.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/UserIdentity.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-dom-export.txt
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet.yml

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/generated/copilot/interaction_history/get_all_enterprise_interactions/get_all_enterprise_interactions_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/generated/copilot/users/item/interaction_history/get_all_enterprise_interactions/get_all_enterprise_interactions_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/generated/kiota-dom-export.txt
  python/packages/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot_beta/generated/models/copilot_admin_setting.py
  python/packages/microsoft_agents_m365copilot_beta/generated/models/enhanced_personalization_setting.py
  python/packages/microsoft_agents_m365copilot_beta/generated/models/identity.py
Due: .azure-pipelines/cd-build-deploy-python.yml

feat(generation): update request builders and models for typescript beta
  typescript/packages/agents-m365copilot-beta/generated/copilot/interactionHistory/getAllEnterpriseInteractions/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/users/item/interactionHistory/getAllEnterpriseInteractions/index.ts
  typescript/packages/agents-m365copilot-beta/generated/kiota-dom-export.txt
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
  typescript/packages/agents-m365copilot-beta/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript.yml

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/generated/copilot/interaction_history/get_all_enterprise_interactions/get_all_enterprise_interactions_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/generated/copilot/users/item/interaction_history/get_all_enterprise_interactions/get_all_enterprise_interactions_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/generated/kiota-dom-export.txt
  python/packages/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot_beta/generated/models/ai_interaction_mentioned_identity_set.py
  python/packages/microsoft_agents_m365copilot_beta/generated/models/copilot_admin_setting.py
  python/packages/microsoft_agents_m365copilot_beta/generated/models/enhanced_personalization_setting.py
  python/packages/microsoft_agents_m365copilot_beta/generated/models/identity.py
  python/packages/microsoft_agents_m365copilot_beta/generated/models/identity_set.py
Due: .azure-pipelines/cd-build-deploy-python.yml

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/InteractionHistory/GetAllEnterpriseInteractions/GetAllEnterpriseInteractionsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Users/Count/CountRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Users/Item/InteractionHistory/GetAllEnterpriseInteractions/GetAllEnterpriseInteractionsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Users/Item/OnlineMeetings/Count/CountRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Users/Item/OnlineMeetings/Item/AiInsights/AiInsightsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Users/Item/OnlineMeetings/Item/AiInsights/Count/CountRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Users/Item/OnlineMeetings/OnlineMeetingsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Users/UsersRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/AiInteractionMentionedIdentitySet.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotAdminSetting.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotPeopleAdminSetting.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/Identity.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/IdentitySet.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/UserIdentity.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-dom-export.txt
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet.yml

chore: update and publish beta package with reference to core package
  .release-please-manifest.json
  typescript/packages/agents-m365copilot-beta/CHANGELOG.md
  typescript/packages/agents-m365copilot-beta/package.json
Due: none

chore: fix ts tag trigger filter
  .azure-pipelines/cd-build-deploy-typescript-beta.yml
  .azure-pipelines/cd-build-deploy-typescript-core.yml
Due: none

chore: update condition to pass when the tag is provided
  .azure-pipelines/cd-build-deploy-dotnet-beta.yml
Due: none

chore: update tag condition to allow tag triggered cd
  .azure-pipelines/cd-build-deploy-dotnet-beta.yml
  .azure-pipelines/cd-build-deploy-dotnet-core.yml
  .azure-pipelines/cd-build-deploy-python-beta.yml
  .azure-pipelines/cd-build-deploy-python-core.yml
  .azure-pipelines/cd-build-deploy-typescript-core.yml
Due: none

chore: fix MANIFEST.in files with correct references
  python/packages/microsoft_agents_m365copilot_beta/MANIFEST.in
  python/packages/microsoft_agents_m365copilot_core/MANIFEST.in
Due: none

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/AiInteractionMentionedIdentitySet.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/IdentitySet.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet.yml

feat(generation): update request builders and models for typescript beta
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
  typescript/packages/agents-m365copilot-beta/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript.yml

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot_beta/generated/models/ai_interaction_mentioned_identity_set.py
  python/packages/microsoft_agents_m365copilot_beta/generated/models/identity_set.py
Due: .azure-pipelines/cd-build-deploy-python.yml

Fixing dotnet code sample
  dotnet/README.md
Due: none

chore: update tag condition to allow tag triggered cd (#111)
  .azure-pipelines/cd-build-deploy-dotnet-beta.yml
  .azure-pipelines/cd-build-deploy-dotnet-core.yml
  .azure-pipelines/cd-build-deploy-python-beta.yml
  .azure-pipelines/cd-build-deploy-python-core.yml
  .azure-pipelines/cd-build-deploy-typescript-core.yml
Due: none

chore: fix ts tag trigger filter (#110)
  .azure-pipelines/cd-build-deploy-typescript-beta.yml
  .azure-pipelines/cd-build-deploy-typescript-core.yml
Due: none

build: move gitignore
  python/.gitignore
  python/packages/.gitignore
Due: none

chore: move files into module
  python/packages/microsoft_agents_m365copilot_core/microsoft_agents_m365copilot_core/__init__.py
  python/packages/microsoft_agents_m365copilot_core/microsoft_agents_m365copilot_core/src/__init__.py
  python/packages/microsoft_agents_m365copilot_core/microsoft_agents_m365copilot_core/src/_constants.py
  python/packages/microsoft_agents_m365copilot_core/microsoft_agents_m365copilot_core/src/_enums.py
  python/packages/microsoft_agents_m365copilot_core/microsoft_agents_m365copilot_core/src/authentication/__init__.py
  python/packages/microsoft_agents_m365copilot_core/microsoft_agents_m365copilot_core/src/authentication/azure_identity_authentication_provider.py
  python/packages/microsoft_agents_m365copilot_core/microsoft_agents_m365copilot_core/src/base_request_adapter.py
  python/packages/microsoft_agents_m365copilot_core/microsoft_agents_m365copilot_core/src/client_factory.py
  python/packages/microsoft_agents_m365copilot_core/microsoft_agents_m365copilot_core/src/middleware/__init__.py
  python/packages/microsoft_agents_m365copilot_core/microsoft_agents_m365copilot_core/src/middleware/async_transport.py
  python/packages/microsoft_agents_m365copilot_core/microsoft_agents_m365copilot_core/src/middleware/options/__init__.py
  python/packages/microsoft_agents_m365copilot_core/microsoft_agents_m365copilot_core/src/middleware/options/agents_copilot_telemetry_handler_option.py
  python/packages/microsoft_agents_m365copilot_core/microsoft_agents_m365copilot_core/src/middleware/request_context.py
  python/packages/microsoft_agents_m365copilot_core/microsoft_agents_m365copilot_core/src/middleware/telemetry.py
  python/packages/microsoft_agents_m365copilot_core/microsoft_agents_m365copilot_core/src/py.typed.txt
Due: none

chore: update project and manifest (is this even needed)
  python/packages/microsoft_agents_m365copilot_beta/MANIFEST.in
  python/packages/microsoft_agents_m365copilot_beta/README.md
  python/packages/microsoft_agents_m365copilot_beta/pyproject.toml
  python/packages/microsoft_agents_m365copilot_core/MANIFEST.in
  python/packages/microsoft_agents_m365copilot_core/poetry.lock
  python/packages/microsoft_agents_m365copilot_core/pyproject.toml
Due: none

chore: add yapf ignore
  python/packages/microsoft_agents_m365copilot_core/microsoft_agents_m365copilot_core/__init__.py
  python/packages/microsoft_agents_m365copilot_core/pyproject.toml
Due: none

chore: peg to published version until we have a new release of core
  python/packages/microsoft_agents_m365copilot_beta/pyproject.toml
Due: none

chore: add poetry lock
  python/packages/microsoft_agents_m365copilot_beta/poetry.lock
Due: none

chore: update path to generated files for linter ignore
  python/packages/microsoft_agents_m365copilot_beta/pyproject.toml
Due: none

chore: remove yapf, we already have pylint
  .github/workflows/build-and-test.yml
Due: none

chore: update module location
  .github/workflows/build-and-test.yml
Due: none

Fixing entrypoint to point towards index.ts instead
  typescript/packages/agents-m365copilot-beta/build.js
Due: none

removing conditional that were causing issues when running the pipeline automatically
  .azure-pipelines/cd-build-deploy-typescript-beta.yml
Due: none

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Admin/AdminRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Admin/Settings/LimitedMode/LimitedModeRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Admin/Settings/SettingsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/InteractionHistory/GetAllEnterpriseInteractions/GetAllEnterpriseInteractionsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/InteractionHistory/InteractionHistoryRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Retrieval/RetrievalPostRequestBody.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Users/Item/AiUserItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Users/Item/InteractionHistory/GetAllEnterpriseInteractions/GetAllEnterpriseInteractionsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Users/Item/InteractionHistory/InteractionHistoryRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Users/Item/OnlineMeetings/Item/AiInsights/AiInsightsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Users/Item/OnlineMeetings/Item/AiInsights/Item/CallAiInsightItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Users/Item/OnlineMeetings/Item/AiOnlineMeetingItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Users/Item/OnlineMeetings/OnlineMeetingsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Users/UsersRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/ActionItem.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/AiInteraction.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/AiInteractionAttachment.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/AiInteractionContext.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/AiInteractionLink.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/AiInteractionMention.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/AiInteractionMentionedIdentitySet.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/AiOnlineMeeting.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/AiUser.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CallAiInsight.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CallAiInsightViewPoint.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/ConnectionItem.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotAdmin.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotAdminLimitedMode.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotAdminSetting.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/DataSourceConfiguration.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/ExternalItemConfiguration.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/Identity.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/IdentitySet.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/MeetingNote.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/MentionEvent.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/RetrievalDataSource.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-dom-export.txt
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet.yml

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/generated/copilot/admin/admin_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/generated/copilot/admin/settings/limited_mode/limited_mode_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/generated/copilot/admin/settings/settings_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/generated/copilot/interaction_history/get_all_enterprise_interactions/get_all_enterprise_interactions_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/generated/copilot/interaction_history/interaction_history_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/generated/copilot/retrieval/retrieval_post_request_body.py
  python/packages/microsoft_agents_m365copilot_beta/generated/copilot/users/item/ai_user_item_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/generated/copilot/users/item/interaction_history/get_all_enterprise_interactions/get_all_enterprise_interactions_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/generated/copilot/users/item/interaction_history/interaction_history_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/generated/copilot/users/item/online_meetings/item/ai_insights/ai_insights_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/generated/copilot/users/item/online_meetings/item/ai_insights/item/call_ai_insight_item_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/generated/copilot/users/item/online_meetings/item/ai_online_meeting_item_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/generated/copilot/users/item/online_meetings/online_meetings_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/generated/copilot/users/users_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/generated/kiota-dom-export.txt
  python/packages/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot_beta/generated/models/action_item.py
  python/packages/microsoft_agents_m365copilot_beta/generated/models/ai_interaction.py
  python/packages/microsoft_agents_m365copilot_beta/generated/models/ai_interaction_attachment.py
  python/packages/microsoft_agents_m365copilot_beta/generated/models/ai_interaction_context.py
  python/packages/microsoft_agents_m365copilot_beta/generated/models/ai_interaction_mention.py
  python/packages/microsoft_agents_m365copilot_beta/generated/models/ai_interaction_mentioned_identity_set.py
  python/packages/microsoft_agents_m365copilot_beta/generated/models/ai_online_meeting.py
  python/packages/microsoft_agents_m365copilot_beta/generated/models/ai_user.py
  python/packages/microsoft_agents_m365copilot_beta/generated/models/call_ai_insight.py
  python/packages/microsoft_agents_m365copilot_beta/generated/models/call_ai_insight_view_point.py
  python/packages/microsoft_agents_m365copilot_beta/generated/models/connection_item.py
  python/packages/microsoft_agents_m365copilot_beta/generated/models/copilot_admin.py
  python/packages/microsoft_agents_m365copilot_beta/generated/models/copilot_admin_limited_mode.py
  python/packages/microsoft_agents_m365copilot_beta/generated/models/copilot_admin_setting.py
  python/packages/microsoft_agents_m365copilot_beta/generated/models/data_source_configuration.py
  python/packages/microsoft_agents_m365copilot_beta/generated/models/external_item_configuration.py
  python/packages/microsoft_agents_m365copilot_beta/generated/models/identity.py
  python/packages/microsoft_agents_m365copilot_beta/generated/models/identity_set.py
  python/packages/microsoft_agents_m365copilot_beta/generated/models/meeting_note.py
  python/packages/microsoft_agents_m365copilot_beta/generated/models/meeting_note_subpoint.py
  python/packages/microsoft_agents_m365copilot_beta/generated/models/mention_event.py
  python/packages/microsoft_agents_m365copilot_beta/generated/models/retrieval_data_source.py
Due: .azure-pipelines/cd-build-deploy-python.yml

Path conditions:
  .azure-pipelines/cd-build-deploy-dotnet.yml: any of: dotnet/src/Microsoft.Agents.M365Copilot.Core/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Core/Microsoft.Agents.M365Copilot.Core.csproj, dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated, dotnet/src/Microsoft.Agents.M365Copilot.Beta/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Beta/Microsoft.Agents.M365Copilot.Beta.csproj
  .azure-pipelines/cd-build-deploy-python.yml: any of: python/packages/microsoft_agents_m365copilot_beta/generated, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_request_adapter.py, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_service_client.py, python/packages/microsoft_agents_m365copilot_core/src
  .azure-pipelines/cd-build-deploy-typescript.yml: any of: typescript/packages/agents-m365copilot-beta/generated, typescript/packages/agents-m365copilot-core/src
