Repository microsoft/Agents-M365Copilot: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml, .azure-pipelines/cd-build-deploy-python-beta.yml, .azure-pipelines/cd-build-deploy-python-v1.yml, .azure-pipelines/cd-build-deploy-python.yml, .azure-pipelines/cd-build-deploy-typescript-core.yml, .azure-pipelines/cd-build-deploy-typescript-v1.yml, .azure-pipelines/cd-build-deploy-typescript.yml

.azure-pipelines/cd-build-deploy-dotnet-beta.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: windows-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-dotnet.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: windows-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-python-beta.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: ubuntu-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-python-v1.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: ubuntu-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-python.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: ubuntu-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-typescript-core.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: windows-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-typescript-v1.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: windows-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-typescript.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: windows-latest
      stages:
      - stage: build
  ...

feat(generation): update request builders and models for typescript v1
  typescript/packages/agents-m365copilot/generated/copilot/retrieval/index.ts
  typescript/packages/agents-m365copilot/generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-typescript-v1.yml

feat(generation): update request builders and models for python v1
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/kiota-lock.json
Due: none

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/admin/policy_settings/count/count_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/admin/policy_settings/item/copilot_policy_setting_item_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/admin/policy_settings/policy_settings_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-dom-export.txt
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/copilot_admin.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/copilot_policy_setting.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/copilot_policy_setting_collection_response.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/entity.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/share_point_identity_set.py
Due: none

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Admin/PolicySettings/Count/CountRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Admin/PolicySettings/Item/CopilotPolicySettingItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Admin/PolicySettings/PolicySettingsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotAdmin.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotPolicySetting.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotPolicySettingCollectionResponse.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/Entity.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/SharePointIdentitySet.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-dom-export.txt
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

feat(generation): update request builders and models for typescript beta
  typescript/packages/agents-m365copilot-beta/generated/copilot/admin/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/admin/policySettings/count/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/admin/policySettings/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/admin/policySettings/item/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/communications/realtimeActivityFeed/multiActivitySubscriptions/item/getArtifacts/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/retrieval/index.ts
  typescript/packages/agents-m365copilot-beta/generated/kiota-dom-export.txt
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
  typescript/packages/agents-m365copilot-beta/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript.yml

feat(generation): update request builders and models for dotnet v1
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/kiota-lock.json
Due: none

Updating READMEs to add missing info on v1.0 libraries (#295)
  dotnet/README.md
  python/README.md
  typescript/README.md
Due: none

feat(generation): update request builders and models for typescript v1
  typescript/packages/agents-m365copilot/generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-typescript-v1.yml

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/AgentRegistrations/AgentRegistrationsRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/AgentRegistrations/Count/CountRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/AgentRegistrations/Item/AgentRegistrationItemRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/CopilotRequestBuilder.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/AgentRegistration.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/AgentRegistrationCollectionResponse.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/Entity.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-dom-export.txt
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/agent_registrations/agent_registrations_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/agent_registrations/count/count_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/agent_registrations/item/agent_registration_item_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/copilot_request_builder.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-dom-export.txt
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/agent_registration.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/agent_registration_collection_response.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/entity.py
Due: none

feat(generation): update request builders and models for typescript beta
  typescript/packages/agents-m365copilot-beta/generated/copilot/agentRegistrations/count/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/agentRegistrations/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/agentRegistrations/item/index.ts
  typescript/packages/agents-m365copilot-beta/generated/copilot/index.ts
  typescript/packages/agents-m365copilot-beta/generated/kiota-dom-export.txt
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
  typescript/packages/agents-m365copilot-beta/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript.yml

feat(generation): update request builders and models for python v1
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/share_point_group_identity.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/share_point_identity_set.py
Due: none

feat(generation): update request builders and models for dotnet v1
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/SharePointGroupIdentity.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/SharePointIdentitySet.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/kiota-lock.json
Due: none

feat(generation): update request builders and models for typescript v1
  typescript/packages/agents-m365copilot/generated/kiota-lock.json
  typescript/packages/agents-m365copilot/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript-v1.yml

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Copilot/Retrieval/RetrievalPostRequestBody.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotPackage.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/RetrievalHit.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/RetrievalThumbnail.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/SharePointIdentitySet.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-dom-export.txt
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

feat(generation): update request builders and models for typescript beta
  typescript/packages/agents-m365copilot-beta/generated/copilot/retrieval/index.ts
  typescript/packages/agents-m365copilot-beta/generated/kiota-dom-export.txt
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
  typescript/packages/agents-m365copilot-beta/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript.yml

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/copilot/retrieval/retrieval_post_request_body.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-dom-export.txt
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/copilot_package.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/retrieval_hit.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/retrieval_thumbnail.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/share_point_identity_set.py
Due: none

ci: fix missing prerelease element in release-please config
  release-please-config.json
Due: none

ci: fix missing prerelease element in release-please config (#370)
  release-please-config.json
Due: none

ci: configure prerelease settings for various components
  release-please-config.json
Due: none

ci: configure prerelease settings for various components (#373)
  release-please-config.json
Due: none

Add Python OBO flow frontend and backend sample (#257)
  python/samples/README.md
  python/samples/backend.py
  python/samples/frontend.py
Due: none

chore(deps): add dependabot configuration
  .github/dependabot.yml
  .gitignore
Due: none

chore(deps)!: update Microsoft.Kiota* to version 2
  dotnet/Directory.Packages.props
Due: none

test: add unit tests for AzureIdentityAuthenticationProvider, ClientException, ParseNodeExtensions, ReferenceRequestBody, and RequestContext
  dotnet/tests/Microsoft.Agents.M365Copilot.Core.Tests/Authentication/AzureIdentityAuthenticationProviderTests.cs
  dotnet/tests/Microsoft.Agents.M365Copilot.Core.Tests/Exceptions/ClientExceptionTests.cs
  dotnet/tests/Microsoft.Agents.M365Copilot.Core.Tests/Extensions/ParseNodeExtensionsTests.cs
  dotnet/tests/Microsoft.Agents.M365Copilot.Core.Tests/Models/ReferenceRequestBodyTests.cs
  dotnet/tests/Microsoft.Agents.M365Copilot.Core.Tests/Requests/RequestContextTests.cs
Due: none

chore(deps)!: update Microsoft.Kiota* to version 2 (#376)
  .github/dependabot.yml
  .gitignore
  dotnet/Directory.Packages.props
  dotnet/tests/Microsoft.Agents.M365Copilot.Core.Tests/Authentication/AzureIdentityAuthenticationProviderTests.cs
  dotnet/tests/Microsoft.Agents.M365Copilot.Core.Tests/Exceptions/ClientExceptionTests.cs
  dotnet/tests/Microsoft.Agents.M365Copilot.Core.Tests/Extensions/ParseNodeExtensionsTests.cs
  dotnet/tests/Microsoft.Agents.M365Copilot.Core.Tests/Models/ReferenceRequestBodyTests.cs
  dotnet/tests/Microsoft.Agents.M365Copilot.Core.Tests/Requests/RequestContextTests.cs
Due: none

chore(deps)!: update Microsoft.Kiota dependencies to v2
  dotnet/src/Microsoft.Agents.M365Copilot.Core/Microsoft.Agents.M365Copilot.Core.csproj
Due: .azure-pipelines/cd-build-deploy-dotnet.yml

chore(deps)!: update Microsoft.Kiota dependencies to v2 (#385)
  dotnet/src/Microsoft.Agents.M365Copilot.Core/Microsoft.Agents.M365Copilot.Core.csproj
Due: .azure-pipelines/cd-build-deploy-dotnet.yml

chore(deps): remove redundant dir refs provided by core
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Microsoft.Agents.M365Copilot.Beta.csproj
  dotnet/src/Microsoft.Agents.M365Copilot/Microsoft.Agents.M365Copilot.csproj
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

Path conditions:
  .azure-pipelines/cd-build-deploy-dotnet-beta.yml: any of: dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated, dotnet/src/Microsoft.Agents.M365Copilot.Beta/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Beta/Microsoft.Agents.M365Copilot.Beta.csproj
  .azure-pipelines/cd-build-deploy-dotnet.yml: any of: dotnet/src/Microsoft.Agents.M365Copilot.Core/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Core/Microsoft.Agents.M365Copilot.Core.csproj, dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated, dotnet/src/Microsoft.Agents.M365Copilot.Beta/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Beta/Microsoft.Agents.M365Copilot.Beta.csproj
  .azure-pipelines/cd-build-deploy-python-beta.yml: any of: python/packages/microsoft_agents_m365copilot_beta/generated, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_request_adapter.py, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_service_client.py
  .azure-pipelines/cd-build-deploy-python-v1.yml: any of: python/packages/microsoft_agents_m365copilot/generated, python/packages/microsoft_agents_m365copilot/src/agents_m365_copilot_request_adapter.py, python/packages/microsoft_agents_m365copilot/src/agents_m365_copilot_service_client.py
  .azure-pipelines/cd-build-deploy-python.yml: any of: python/packages/microsoft_agents_m365copilot_beta/generated, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_request_adapter.py, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_service_client.py, python/packages/microsoft_agents_m365copilot_core/src
  .azure-pipelines/cd-build-deploy-typescript-core.yml: any of: typescript/packages/agents-m365copilot-core/src
  .azure-pipelines/cd-build-deploy-typescript-v1.yml: any of: typescript/packages/agents-m365copilot/generated
  .azure-pipelines/cd-build-deploy-typescript.yml: any of: typescript/packages/agents-m365copilot-beta/generated, typescript/packages/agents-m365copilot-core/src
