Repository microsoft/Agents-M365Copilot: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml, .azure-pipelines/cd-build-deploy-python-beta.yml, .azure-pipelines/cd-build-deploy-python-v1.yml, .azure-pipelines/cd-build-deploy-python.yml, .azure-pipelines/cd-build-deploy-typescript-core.yml, .azure-pipelines/cd-build-deploy-typescript-v1.yml, .azure-pipelines/cd-build-deploy-typescript.yml

.azure-pipelines/cd-build-deploy-dotnet-beta.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: windows-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-dotnet.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: windows-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-python-beta.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: ubuntu-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-python-v1.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: ubuntu-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-python.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: ubuntu-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-typescript-core.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: windows-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-typescript-v1.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: windows-latest
      stages:
      - stage: build
  ...

.azure-pipelines/cd-build-deploy-typescript.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        vmImage: windows-latest
      stages:
      - stage: build
  ...

feat: add TypeScript sample for Copilot AI interaction change notifications
  typescript/samples/change-notifications-copilot-ai-interactions/.env.example
  typescript/samples/change-notifications-copilot-ai-interactions/.gitignore
  typescript/samples/change-notifications-copilot-ai-interactions/README.md
  typescript/samples/change-notifications-copilot-ai-interactions/package.json
  typescript/samples/change-notifications-copilot-ai-interactions/src/create-subscription.ts
  typescript/samples/change-notifications-copilot-ai-interactions/src/generate-certificate.ts
  typescript/samples/change-notifications-copilot-ai-interactions/src/logger.ts
  typescript/samples/change-notifications-copilot-ai-interactions/src/server.ts
  typescript/samples/change-notifications-copilot-ai-interactions/tsconfig.json
Due: none

feat: add copilot search api sample
  copilot-search-api/.env.example
  copilot-search-api/.gitignore
  copilot-search-api/API_TESTING.md
  copilot-search-api/README.md
  copilot-search-api/examples.js
  copilot-search-api/package.json
  copilot-search-api/search.js
  copilot-search-api/server.js
Due: none

refactor: move copilot search api sample under typescript/samples
  typescript/samples/copilot-search-api/.env.example
  typescript/samples/copilot-search-api/.gitignore
  typescript/samples/copilot-search-api/API_TESTING.md
  typescript/samples/copilot-search-api/README.md
  typescript/samples/copilot-search-api/examples.js
  typescript/samples/copilot-search-api/package.json
  typescript/samples/copilot-search-api/search.js
  typescript/samples/copilot-search-api/server.js
Due: none

refactor: convert copilot-search-api sample to TypeScript and align with typescript/samples structure
  typescript/samples/copilot-search-api/package.json
  typescript/samples/copilot-search-api/search.js
  typescript/samples/copilot-search-api/server.js
  typescript/samples/copilot-search-api/src/search.ts
  typescript/samples/copilot-search-api/src/server.ts
  typescript/samples/copilot-search-api/tsconfig.json
Due: none

feat(generation): update request builders and models for dotnet v1
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/kiota-lock.json
Due: none

feat(generation): update request builders and models for typescript v1
  typescript/packages/agents-m365copilot/generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-typescript-v1.yml

feat(generation): update request builders and models for python v1
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/kiota-lock.json
Due: none

feat: add TypeScript sample for Copilot AI interaction change notifications (#289)
  typescript/samples/change-notifications-copilot-ai-interactions/.env.example
  typescript/samples/change-notifications-copilot-ai-interactions/.gitignore
  typescript/samples/change-notifications-copilot-ai-interactions/README.md
  typescript/samples/change-notifications-copilot-ai-interactions/package.json
  typescript/samples/change-notifications-copilot-ai-interactions/src/create-subscription.ts
  typescript/samples/change-notifications-copilot-ai-interactions/src/generate-certificate.ts
  typescript/samples/change-notifications-copilot-ai-interactions/src/logger.ts
  typescript/samples/change-notifications-copilot-ai-interactions/src/server.ts
  typescript/samples/change-notifications-copilot-ai-interactions/tsconfig.json
Due: none

Updating READMEs to add missing info on v1.0 libraries
  dotnet/README.md
  python/README.md
  typescript/README.md
Due: none

Updating the code samples as well to point to the v1 libraries/packages
  dotnet/README.md
  python/README.md
  typescript/README.md
Due: none

Reorganize OBO sample into python/samples/ folder as per review feedback
  python/README.md
  python/samples/README.md
  python/samples/backend.py
  python/samples/frontend.py
Due: none

feat(generation): update request builders and models for python v1
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/kiota-dom-export.txt
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/identity.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/share_point_group_identity.py
  python/packages/microsoft_agents_m365copilot/microsoft_agents_m365copilot/generated/models/share_point_identity_set.py
Due: none

feat(generation): update request builders and models for typescript v1
  typescript/packages/agents-m365copilot/generated/kiota-dom-export.txt
  typescript/packages/agents-m365copilot/generated/kiota-lock.json
  typescript/packages/agents-m365copilot/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript-v1.yml

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-dom-export.txt
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/identity.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/share_point_group_identity.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/share_point_identity_set.py
Due: none

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/Identity.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/SharePointGroupIdentity.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/SharePointIdentitySet.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-dom-export.txt
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

feat(generation): update request builders and models for typescript beta
  typescript/packages/agents-m365copilot-beta/generated/kiota-dom-export.txt
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
  typescript/packages/agents-m365copilot-beta/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript.yml

feat(generation): update request builders and models for dotnet v1
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/Identity.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/SharePointGroupIdentity.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/Models/SharePointIdentitySet.cs
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/kiota-dom-export.txt
  dotnet/src/Microsoft.Agents.M365Copilot/Generated/kiota-lock.json
Due: none

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotPackage.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/CopilotPackageDetail.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/Identity.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/SharePointGroupIdentity.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/SharePointIdentitySet.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-dom-export.txt
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-dom-export.txt
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/copilot_package.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/copilot_package_detail.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/identity.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/share_point_group_identity.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/share_point_identity_set.py
Due: none

feat(generation): update request builders and models for typescript beta
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-typescript.yml

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
Due: none

Update .NET SDK, fix vulnerabilities, add source mapping
  dotnet/Directory.Packages.props
  dotnet/nuget.config
  dotnet/src/Microsoft.Agents.M365Copilot.Core/global.json
  dotnet/src/Microsoft.Agents.M365Copilot.Sample/Microsoft.Agents.M365Copilot.Sample.csproj
  dotnet/tests/Microsoft.Agents.M365Copilot.Beta.Tests/Microsoft.Agents.M365Copilot.Beta.Tests.csproj
Due: none

chore(deps): update .NET SDK, fix vulnerabilities, add source mapping (#316)
  dotnet/Directory.Packages.props
  dotnet/nuget.config
  dotnet/src/Microsoft.Agents.M365Copilot.Core/global.json
  dotnet/src/Microsoft.Agents.M365Copilot.Sample/Microsoft.Agents.M365Copilot.Sample.csproj
  dotnet/tests/Microsoft.Agents.M365Copilot.Beta.Tests/Microsoft.Agents.M365Copilot.Beta.Tests.csproj
Due: none

feat(generation): update request builders and models for dotnet beta
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/SharePointGroupIdentity.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/Models/SharePointIdentitySet.cs
  dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated/kiota-lock.json
Due: .azure-pipelines/cd-build-deploy-dotnet-beta.yml, .azure-pipelines/cd-build-deploy-dotnet.yml

feat(generation): update request builders and models for typescript beta
  typescript/packages/agents-m365copilot-beta/generated/kiota-lock.json
  typescript/packages/agents-m365copilot-beta/generated/models/index.ts
Due: .azure-pipelines/cd-build-deploy-typescript.yml

feat(generation): update request builders and models for python beta
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/kiota-lock.json
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/share_point_group_identity.py
  python/packages/microsoft_agents_m365copilot_beta/microsoft_agents_m365copilot_beta/generated/models/share_point_identity_set.py
Due: none

Path conditions:
  .azure-pipelines/cd-build-deploy-dotnet-beta.yml: any of: dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated, dotnet/src/Microsoft.Agents.M365Copilot.Beta/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Beta/Microsoft.Agents.M365Copilot.Beta.csproj
  .azure-pipelines/cd-build-deploy-dotnet.yml: any of: dotnet/src/Microsoft.Agents.M365Copilot.Core/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Core/Microsoft.Agents.M365Copilot.Core.csproj, dotnet/src/Microsoft.Agents.M365Copilot.Beta/Generated, dotnet/src/Microsoft.Agents.M365Copilot.Beta/**/*.cs, dotnet/src/Microsoft.Agents.M365Copilot.Beta/Microsoft.Agents.M365Copilot.Beta.csproj
  .azure-pipelines/cd-build-deploy-python-beta.yml: any of: python/packages/microsoft_agents_m365copilot_beta/generated, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_request_adapter.py, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_service_client.py
  .azure-pipelines/cd-build-deploy-python-v1.yml: any of: python/packages/microsoft_agents_m365copilot/generated, python/packages/microsoft_agents_m365copilot/src/agents_m365_copilot_request_adapter.py, python/packages/microsoft_agents_m365copilot/src/agents_m365_copilot_service_client.py
  .azure-pipelines/cd-build-deploy-python.yml: any of: python/packages/microsoft_agents_m365copilot_beta/generated, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_request_adapter.py, python/packages/microsoft_agents_m365copilot_beta/src/agents_m365_copilot_beta_service_client.py, python/packages/microsoft_agents_m365copilot_core/src
  .azure-pipelines/cd-build-deploy-typescript-core.yml: any of: typescript/packages/agents-m365copilot-core/src
  .azure-pipelines/cd-build-deploy-typescript-v1.yml: any of: typescript/packages/agents-m365copilot/generated
  .azure-pipelines/cd-build-deploy-typescript.yml: any of: typescript/packages/agents-m365copilot-beta/generated, typescript/packages/agents-m365copilot-core/src
